#comparison {
	.h1 {
		font-weight: $light-font-weight;
		span {
			display: block;
			font-size: 0.75em;
		}
	}

	img {
		@media( min-width: 768px ) {
			margin-top: -90px;
		}
	}

	.comparison-header {
	padding: 2em 0;
		background-image: url("../../../assets/dist/img/comparison-bg.jpg");
		background-size: cover;
	}
}