.compare-main-container {
	padding: 0 5px;
}

.compare-wrapper {
	height: 400px;
	// overflow: auto;
	position: relative;
	margin-top: 50px;
	z-index: 5000;
}

.compare-back {
	position: absolute;
	width: 1120px;
	height: 60px;
	background-color: white;
	z-index: 5001;
}

.compare-nav {
	position: absolute;
	// min-height: 600px;
	// background-color: white;
	z-index: 5002;
}

// .compare-table {
// 	margin-top: 60px;
// }

#tc, #hc, #kv, #den, #vp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.data-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.compare-container {
	overflow: auto;
	display: flex;
	justify-content: space-between;
	width: 1120px;
	flex-wrap: wrap;
		padding-top: 15px;

	.compare-column {
		flex-basis: 190px;
		flex-shrink: 0;
	}

	.label-column, .table-label {
		flex-basis: 270px;
		flex-shrink: 0;
	}

	.label-header {
		font-size: 1.5em;
		font-weight: 600;
		font-family: $header-font-family;
		color: $dark-blue;
		text-transform: uppercase;
	}

	.compare-header-wrapper {
		position: relative;
		margin-bottom: 10px;
	}

	.compare-header {
		padding: 1em 1.5em;
		background-color: $dark-blue;
		color: #fff;
		text-align: center;
		font-weight: 500;
		font-size: 0.85em;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		cursor: pointer;
		margin-left: -16px;
		i {
			margin-left: 0.5em;
		}
	}

	.fluids {
		display: none;
		position: absolute;
		background-color: #fff;
		width: 107%;
		margin-left: -16px;
    max-height: 300px;
    overflow: auto;
	}

	.product-list {
		padding: 5px 10px;
		border-bottom: 1px solid $light-grey;
		cursor: pointer;
		font-size: 0.85em;
		&:hover {
			background-color: $lightest-grey;
		}
	}

	.category-header {
		display: block;
		background-color: #f6f6f6;
		color: $orange;
		font-weight: 400;
		font-size: 1em;
		text-transform: uppercase;
		width: 100%;
		padding: 10px;
		&.grey {
			background-color: $light-grey;
			color: $base-font-color;
		}
	}

	.table-label {
		padding: 10px;
		font-weight: 300;
  	border-right: 1px solid $bright-orange;
	}

	.table-data {
		padding: 10px 0;
		flex: 0 0 190px;
		font-weight: 500;
		padding-left: 5px;
  	border-right: 1px solid $bright-orange;
	}


}
.compare-nav-container {
	overflow: auto;
	display: flex;
	justify-content: space-between;
	width: 1120px;
	flex-wrap: wrap;

	.compare-column {
		flex-basis: 190px;
		flex-shrink: 0;
	}

	.label-column, .table-label {
		flex-basis: 270px;
		flex-shrink: 0;
	}

	.label-header {
		font-size: 15px;
		text-align: right;
		font-weight: 700;
		font-family: $header-font-family;
		color: $dark-blue;
		text-transform: uppercase;
		margin-top: 15px;
	}

	.compare-header-wrapper {
		position: relative;
		margin-bottom: 10px;
	}

	.compare-header {
		padding: 1em 1.5em;
		background-color: $dark-blue;
		color: #fff;
		text-align: center;
		font-weight: 500;
		font-size: 0.85em;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		cursor: pointer;
		margin-left: -16px;
		i {
			margin-left: 0.5em;
		}
	}

	.fluids {
		display: none;
		position: absolute;
		background-color: #fff;
		width: 107%;
		margin-left: -16px;
    max-height: 300px;
    overflow: auto;
	}

	.product-list {
		padding: 5px 10px;
		border-bottom: 1px solid $light-grey;
		cursor: pointer;
		font-size: 0.85em;
		&:hover {
			background-color: $lightest-grey;
		}
	}

	.category-header {
		display: block;
		background-color: #AECBDB;
		color: #fff;
		font-weight: 500;
		font-size: 1.125em;
		width: 100%;
		padding: 10px;
		&.grey {
			background-color: $light-grey;
			color: $base-font-color;
		}
	}

	.table-label {
		padding: 10px;
		font-weight: 500;
  	border-right: 1px solid $dark-grey;
	}

	.table-data {
		padding: 10px 0;
		flex: 0 0 190px;
		font-weight: 500;
		padding-left: 5px;
  	border-right: 1px solid $dark-grey;
	}


}



.compare-floater {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 999;
	background-color: $dark-blue;
	padding: 0;
	margin: 0 15px;
	overflow: auto;
  width: 1110px;
  flex-wrap: wrap;
  display: none;
	.label-column, .table-label {
		flex-basis: 270px;
		flex-shrink: 0;
	}
	.compare-header {
		padding: 1em 0;
		color: #fff;
		text-align: left;
		font-weight: 500;
		font-size: 0.85em;
	}
	.compare-column {
		flex-basis: 190px;
		flex-shrink: 0;
	}
}

.compare-buttons {
	z-index: 100;
	text-align: right;
  padding-right: 0;
  margin-top: 15px;
}

.print-compare-table {
	.grey-row {
		background-color: #f6f6f6;
	}
}


.comparison-wrapper {
	overflow:auto; 
	height: 400px;
}