
.compare-submit {
	display: none;
	position: fixed;
	bottom: 0;
	left: 50px;
	z-index: 10;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	.compare-header {
		color: #fff;
		padding: 10px 40px; 
		left: 125px;
		background-color: $orange;
		border-top-right-radius: 8px; 
		border-top-left-radius: 8px; 
		display: flex;
		justify-content: space-between;
		.compare-icons {
			a {
				margin-left: 1em;
				color: #fff;
				font-size: 1.25em;
			}
		}
	}
	.compare-body {
		background-color: #fff;
		border-left: 1px solid $dark-grey;
		border-right: 1px solid $dark-grey;
		ul {
			margin-bottom: 20px;
		}
		li a {
			color: red;
			&:hover {
				color: darken( red, 20 );
			}
		}
		i {
			margin-left: 15px;
			display: inline;
		}
		padding: 1.5em;
		&.row {
			margin: 0;
		}
	}
}