#contact {
  h3, .h4 {
    color: $orange;
    font-weight: bold;
    margin-bottom: 0;
    span {
      font-weight: $body-font-weight;
    }
  }
  h3 {
    color: $base-font-color;
    font-size: 15px;
  }

  hr {
    margin-bottom: 10px;
  }

  .form-group {
    margin: 15px 0 0 0;
  }
  
  .row {
    margin-top: 0;
  }

  .container {
    height: 100%;
  }

  #about-comments {
    height: 145px;
  }

  #comments, #application, #comments2 {
    height: 92px;
  }

  #add-product {
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .contact-form-container{
		padding: 0;

	}
}

.email-response {
  display: none;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  i {
    font-size: 3em;
    color: green;
    position: absolute;
    right: 35px;
    top: 15px;
  }
  h4 {
    color: green;
    font-weight: 600;
    display: inline-block;
    font-size: 1.5em;
  }
  &.success {
    border: 3px solid green;
    i {
      font-size: 3em;
      float: right;
      color: green;
    }
  }
  &.error {
    border: 3px solid red;
    h4 {
      color: red;
    }
    i {
      font-size: 3em;
      float: right;
      color: red;
    }
  }
}

.contact-number {
  display: inline-block;
  width: 85%;    
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #365170;
  @media(min-width:768px) {
    width: 70%;
  }
}

.contact-column {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  float: left;
  @media(min-width: 990px) {
    width: 50%;
  }
}

.remove-me {
  color: red;
  position: absolute;
  top: 21px;
  font-size: 1.25em;
  &:hover {
    color: darken(red, 20);
  }
}

// #contact-form {
//   margin-left: 60px;
// }