
.footer {
	padding: 30px;
	a {
		transition: 0.3s;
	}

	.container {
		padding: 0 !important;
	}

	.footer-column {
		padding-left: 0 !important;
	}

	h2 {
		color: $bright-orange;
		font-weight: 700;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	ul {
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;

		li {
			line-height: 1.75;
			&:before {
				content: "";
			}
			a:hover {
				transition: 0.3s;
				border-bottom: 1px solid #fff;
				text-decoration: none;
			}
		}
	}
}

.back-to-top {
	display: none;
	color: #fff;
	padding: 10px 40px;
	position: fixed;
	bottom: 0;
	right: 125px;
	background-color: $orange;
	border-top-right-radius: 8px; 
	border-top-left-radius: 8px; 
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copyright {
	font-size: 9px;
	margin-top: 15px;
	color: #fff;
}