.header {
	padding: 0;
	display: block;
	align-items: center;
	justify-content: space-between;
	// border-bottom: 1px solid #ccc;
	@media(min-width: 990px) {
		display: flex;
	}

	&.row {
		margin: 0;
		padding-top: 0;
	}

	.container {
		margin-bottom: 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ccc;
	}

	.logo {
		padding:0;
		margin: 0 auto;
		text-align: center;
		@media(min-width: 990px) {
			text-align: left;
		}
		img {
			max-width: 100%;
			@media(min-width: 990px) {
				max-width: 250px;
			}
		}
	}
	div {
		display: block;
		@media(min-width: 990px) {
			display: flex;
		}
	}
}

nav {
	text-align: center;
	text-transform: uppercase;
	font-family: $header-font-family;
	padding: 10px 0 0 0;
	margin-top: 20px;
	@media(min-width: 990px) {
		text-align: right;
		margin-right: 20px;
		margin-top: 0;
	}

	.active {
		font-weight: 800;
	}

	ul {
		list-style-type: none;

		li {
			display: inline-block;
			margin: 0 10px;
			&::before {
      content: "";
      color: $bright-orange;
      font-size: 1.625em;
      vertical-align: middle;
      line-height: 1;				
			}
		}
	}
}

.header-container {
	margin-bottom: 0;
	position: fixed;
	background-color: rgba(255,255,255,0.8);
	top: 0;
  left: 0;
  right: 0;
  z-index: 200000;
  transition: 0.3s;
  &.full-color {
  	background-color: #fff;
  }
}

.navigation {
	justify-content: flex-end;
	align-items: center;
}

.homepage h1.thermal-header {
	color: $orange;
	font-size: 25px;
	font-weight: 700;
	margin-left: 15px;
	margin-bottom: 5px;
}

.thermal-fluid-row {
  @media( min-width: 990px ) {
		background-image: url('/assets/dist/img/water.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 0 !important;
    margin-top: -100px;
    padding-top: 100px !important;
  }
}

.thermal li {
	font-weight: 600;
}

.toggle-row {
	margin-top: 0;
	p {
		position: absolute;;
		right: 65px;
		top: 10px;
	}
}