.difference {
  p {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.difference2 {
  font-size: 1.25em;
  p {
    margin: 0;
  }
}

.outlasts {
  position: relative;
  padding: 0 15px;
  @media(min-width: 768px){
    padding: 0;
  }
  h2 {
    margin-top: 0;
  }
  .outlast-image {
    img {
      display: none;
      max-width: 100%;
      max-width: 90%;
      margin: 0 auto;
      @media ( min-width: 990px ) {
        display: inline-block;
        margin-top: -12.5%;
      }
    }
  }
}


.homepage {
  h1 {
    color: $dark-blue;
    font-weight: 600;
    font-size: 2.125em;
    @media(min-width: 500px) {
      font-size: 3em;
    }
    margin-top: 40px;
    @media(max-width: 990px) {
      word-spacing: inherit;
    }
  }
  .row {
    padding: 30px 0;
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    margin-bottom: 0;
  }

  .logo-container {
    height: 100px;
    position: relative;
    overflow: hidden;
    img {
      max-width: none !important;
    }
  }
  li.client-logos {
     &::before {
      content: "";
    }
    img {
      max-width: 1110px;
    }
  }
  #scroller {
    position: relative;
  }
  #scroller .innerScrollArea {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  #scroller ul {
      padding: 0;
      margin: 0;
      position: relative;
  }
  #scroller li {
      padding: 0;
      margin: 0;
      list-style-type: none;
      position: absolute;
  }

  .testimonial-container {
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
  }
  .testimonial-header, .testimonial-footer {
    background-repeat: no-repeat;
    padding-top: 25.25%;
    opacity: 0.8;
    width: 90%;
    margin: 0 auto;
    background-size: contain;
  }
  .testimonial-footer {
    margin-top: 1em;
  }
  .testimonial-body {
    border-top: 1px solid #ddd;
    margin-top: 1.5em;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    p {
      &:before {
        content: open-quote;
      }
      &:after {
        content: close-quote;
      }
    }
    #testimonial-author {
      color: $dark-grey;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 400;
    }
  }

  .home-tips {
    text-align: center;
    overflow: hidden;
    h3 {
      color: $dark-grey;
      margin: 1em 0 0.75em 0;
      font-size: 2.125em;
      font-weight: 500;
      letter-spacing: 2px;
      position: relative;
      &.tools {
        margin-top: 0;
      }
      span {
        display: inline-block;
        position: relative;
      }
      span:before, span:after {
        border-top: 2px solid $dark-grey;
        position: absolute;
        top: 50%;
        width: 1000px;
        content: "";
      }
      span:before {
        right: 100%;
        margin-right: 15px;
      }
      span:after {
        left: 100%;
        margin-left: 15px;
      }
    }
    h4 {
      color: $dark-blue;
      font-weight: 600;
      font-size: 1.25em;
    }
    p {
      margin-bottom: 1.5em;
    }

    .row {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 10px;
    }
  }
}

.dura-diff {
  color: $orange;
  font-weight: 700;
}

.light-white {
  background-color: rgba(255,255,255,0.8);
  // border-bottom: 2px solid #ccc;
  // border-top: 2px solid #ccc;
  margin-top: 55px;
  // padding: 25px 0;
  h2 {
    margin-top: 0;
    font-size: 25px;
  }
}

.bullet {
  color: $bright-orange;
  font-size: 1.25em;
  vertical-align: middle;
  line-height: 1;
  margin: 0 2px;
}

.thermal ul li {
  font-size: 17px;
}