.point-card {
	border: 1px solid $light-grey;
	border-radius: 4px;
	padding: 0 10px;
	margin-bottom: 10px;
	font-size: 0.85em;
	text-align: center;
	position: relative;
	transition: 0.3s;
	.arrow-down {
		margin-bottom: 10px;
	}

	p {
		margin: 0;
		font-weight: $header-font-weight;
	}
}

.point-card-container {
	a {
		color: $base-font-color;
		display: block;

		&:hover {
			color: $base-font-color;

		  .point-card {
			 background-color: $light-grey;
		  }
		}
	}
}