.product-tables {
	margin-top: 15px;
	strong {
		font-weight: 500;
	}
	span {
		font-weight: 400;
	}
	table {
		width: 100%;
		overflow: hidden;
		td, th {
			padding: 5px 15px;
			font-size: 13px;
		}
		th {
			background-color: #f6f6f6;
			color: $dark-blue	;
			text-transform: uppercase;
			font-weight: 400;
			padding: 10px 15px;
			font-size: 16px;
		}
	}
}
.grey-row {
	background-color: $lightest-grey;
}
.darkgrey-row {
	background-color: darken($light-grey, 5);
	color: #fff;
	font-weight: 300;
}

.sidebar {
	img {
		width: 100%;
		border-radius: 4px;
	}
	.callout {
		margin-top: 42px;
		overflow: hidden;
		header {
			color: $bright-orange	;
			font-weight: 600;
			text-transform: uppercase;
			padding: 10px 15px;
			margin-bottom: 0;
			font-size: 17px;
		}
		ul {
			padding: 20px;
			list-style-type: none;
			li {
				&:before {
					content: "";
				}
			}
		}
	}
}

.mainpage {
	h1 {
		color: $dark-blue;
		font-weight: 500;
		margin-top: 0;
	}
	ul {
		li {
			&:before {
				color: $dark-blue;
			}
		}
	}

	.downloads {
		color: $orange;
		padding: 0px 0;
		margin: 15px 0;
		border-top: 1px solid $light-grey;
		border-bottom: 1px solid $light-grey;
		p {
			margin: 20px 0;
		}
	}
}
.product-page {
	blockquote {
	  border-left: 1px solid #ccc;
	  margin: 0 10px;
	  padding: 0.5em 10px;
	  quotes: "\201C""\201D""\2018""\2019";
	}
	blockquote:before {
	  content: open-quote;
	  font-size: 38px;
	  line-height: 0.1em;
	  margin-right: 0.125em;
	  vertical-align: -0.4em;
	}
	blockquote:after {
	  content: close-quote;
	  font-size: 38px;
	  line-height: 0.1em;
	  margin-right: 0.25em;
	  vertical-align: -0.4em;
	}
	blockquote p {
	  display: inline;
	}
	#testimonial {
		padding: 20px;
		padding-top: 0;
		padding-bottom: 	5px;
		font-size: 15px;
		p {
			margin-bottom: 0;
		}
	}

	#testimonial-author {
		padding: 20px;
		padding-top: 10px;
		font-size: 14px;
		font-style: italic;
		margin-left: 10px;
	}
}

.data-sheet {
	a {
		color: #ef4136;
		&:hover {
			color: darken($bright-orange, 25);
		}
		i{
			font-size: 2.5em;
			margin-top: -5px;
			vertical-align: middle;
		}
	}
}

.popover {
	background-color: #000;
	color: #fff;
}
.popover-content {
	text-indent: 0;
}

.popover.top > .arrow::after {
	border-top-color: rgb(0, 0, 0);
}

.pump-popover {
	margin-left: 15px;
}

ul.quickfacts {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 1em; 
    text-indent: -.7em;
    &::before {
      content: "• ";
      color: $bright-orange;
      font-size: 1.25em;
      vertical-align: middle;
      line-height: 1;
      margin-left: -5px;
    }
  }
}