.resources {
	h3 {
		font-size: 1.25em;
		color: $dark-blue;
		font-weight: 600;
		margin-top: 0;
	}
	.h2 {
		font-weight: 600;
		color: $dark-blue;
		margin-top: 0;
	}
	img {
		max-width: 80% ;
	}

	.btn {
		display: block;
		@media (min-width: 768px) {
			display: inline-block;
		}
	}

	@media(min-width: 768px) {
		.block img {
			display: block;
		}
	}
	.difference {
		p {
			font-weight: 300;
			width: 90%;
			font-size: 0.9em
		}
	}
	.calculator-select {
	  margin: 20px 0;
   	outline: none;
	  border-radius: 8px;
	  padding: 8px 12px;
	  font-size: 18px;
	  width: 300px;
	  height: 44px;
	}
	.res-tech-paper {
		p {
			padding-bottom: 20px;
		}
		.btn {
			@media(min-width: 768px) {
				position: absolute;
				bottom: 5px;
				margin-left: -60px;
			}
		}
	}
}

.calc1 {
	display: none;
	@media( min-width: 990px ) {
		display: block;
	}
}
.calc2 {
	display: block;
	@media( min-width: 990px ) {
		display: none;
	}
}

.compare-hide {
	border: 2px solid $orange;
	border-radius: 8px;
	margin: 10px 20px !important;
	padding-left: 70px;
	font-size: 1.063em;
	position: relative;
	.container {
		margin: 0;
	}
	p {
		margin: 15px 5px 20px 0;
	}
	i {
		position: absolute;
    left: 20px;
    top: 20px;
    font-size: 2em;
    color: $orange;
	}
}

.resources-left-col {
	 border-left: 2px solid #ddd; 
	 padding-left: 40px;
 	@media(max-width: 768px) {
		border-left: none;
		padding-left: 15px;
		margin-top: 30px;
	}

}

.resource-h1 {
	font-size:21px;
}

.resource-h2 {
	color: $bright-orange;
	font-size: 25px;
	margin-bottom: 10px;
}