<div class="row page-row gradient-background" style="margin-top: 10px;">
	<div class="col-separator"></div>
	<div class="container">
		<div class="col-md-6">
			<div class="row">
				<div class="col-icon">
					<img class="lg-icon" src="/assets/dist/img/drop.png" alt="{{ page.alt_tags.hourglass | raw }}" />
				</div>
				<div class="text-col half-width">
					{{ page.acf.cleaner_running | raw }}
					{% if page.common.lang == "de" %}
						{% set downloadLink = page.downloads.tech_behind %}
					{% else %}
						{% set downloadLink = page.downloads.tech_behind_de_en %}
					{% endif %}
					<p class="no-margin-p">
						<a href="{{ downloadLink }}" class="cta" target="_blank">
							{{ page.common.find_out_more }} >
						</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-icon">
					<img class="lg-icon" src="/assets/dist/img/globe-icon.png" alt="{{ page.alt_tags.globe | raw }}" />
				</div>
				<div class="text-col half-width">
					{{ page.acf.global_network | raw }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
<hr style="border-top: 2px solid #ccc; margin-left: 25px; margin-right: 25px; margin-top: 10px">
</div>