<div  id="comparison">
	<div class="comparison-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<h2 class="h1">
						Our fluids outlast all others
						<span>...even ones costing many times more!</span>
						<img src="{{ base_url() }}/assets/dist/img/competitor-comparison.png" alt="comptetitor comparison graph"/>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>About the Test</h3>
				<p>
					We chose 6 competing products, ranging from low-budget hot oils to some of the more expensive premium fluids from Exxon Mobil Corporation&reg;, Dow Chemical Company&reg;, Paratherm Corporation&reg;, Petro-Canada Inc&reg;, Momar&reg; and Multitherm LLC&reg;.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>About the Method</h3>
				<p>
					IP48 is an International Petroleum test standard in which 40ml of fluid is exposed to 204&deg;C (400&deg;F) with 15L/h of air blown through the samples for 24 hours. This accelerates a fluid's aging process and shows a fluid's resistance to oxidation.
				</p>
			</div>
		</div>
	</div>
</div>