<div class="col-sm-12 comparison-wrapper">	
	<div class="compare-back"></div>
	<div class="compare-nav-container compare-nav">
		<div class="label-column">
			<div class="label-header">
				{{ page.common.select_your_fluids }}:
			</div>
		</div>
		{% for i in 1..4 %}
			<div class="compare-column" id="compare-{{ loop.index }}">
				<div class="compare-header-wrapper">
					<div class="compare-header">
						<span class="prod-header" id="name-{{ loop.index }}" data-product="0">{{ page.common.select_fluid }}</span> <i class="fa fa-chevron-down" aria-hidden="true"></i>
					</div>
					{% if loop.index == 1 %}
						<div class="fluids1 fluids" data-header="name-{{ loop.index }}"></div>
					{% else %}
						<div class="all-fluids fluids" data-header="name-{{ loop.index }}"></div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="compare-wrapper" id="compare-wrapper">
		<div class="compare-container compare-table">

			<!--Temperature Ratings-->
			<div class="category-header">
				{{ page.common.temperature_ratings }}
			</div>
			<div class="data-row">
				<div class="table-label">
					{{ page.common.max_bulk_temp}}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="maxbulk-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row grey-row">
				<div class="table-label">
					{{ page.common.max_film_temp}}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="maxfilm-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row">
				<div class="table-label">
					{{ page.common.pour_point}}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="pourpoint-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>

			<!--Safety Data-->
			<div class="category-header">
					{{ page.common.safety_data}}
			</div>
			<div class="data-row">
				<div class="table-label">
					{{ page.common.flashpoint }}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="flashpoint-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row grey-row">
				<div class="table-label">
					{{ page.common.fire_point }}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="firepoint-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row">
				<div class="table-label">
					{{ page.common.auto_ignition }}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="autoignition-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>


			<!--Thermal Properties-->
			<div class="category-header">
					{{ page.common.thermal_properties }}
			</div>
			<div class="data-row">
				<div class="table-label">
					{{ page.common.thermal_expansion_coefficient }}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="thermalexpansion-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="category-header grey">
					{{ page.common.thermal_conductivity }} W/m·K
			</div>
			<div id="tc"></div>
			<div class="category-header grey">
					{{ page.common.heat_capacity }} (kJ/kg·K)
			</div>
			<div id="hc"></div>

			<!--Physical Properties-->
			<div class="category-header">
					{{ page.common.thermal_properties }}
			</div>
			<div class="data-row">
				<div class="table-label">
					{{ page.common.chemical_composition }}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="chemical-composition-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="category-header grey">
					{{ page.common.kinematic_viscosity }} (cSt)
			</div>
			<div id="kv"></div>
			<div class="category-header grey">
					{{ page.common.density }} (kg/L)
			</div>
			<div id="den"></div>
			<div class="category-header grey">
					{{ page.common.vapour_pressure }} (kPa)
			</div>
			<div id="vp"></div>
			<div class="category-header grey">
					{{ page.common.distillation_range }}
			</div>
			<div class="data-row">
				<div class="table-label">
					10%
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="dist10-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row grey-row">
				<div class="table-label">
					90%
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="dist90-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row">
				<div class="table-label">
					{{ page.common.average_molecular_weight }}
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="amw-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row grey-row">
				<div class="table-label">
					{{ page.common.specific_gravity }} 16&deg;C
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="sg-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>


		</div>
	</div>
</div>
<div class="col-sm-12 compare-buttons">
  <div class="btn-row-group">
    <div>
      <a class="export-compare btn-hollow btn">{{ page.common.download }} CSV</a>
      <a class="print-compare btn-hollow btn" title="{{ page.common.print_title }}">{{ page.common.print }}</a>
    </div>
  </div>
</div>