

<div class="container" style="margin-bottom: 10px;">
	<hr style="border-top: 2px solid #ccc;margin-top: 20px; margin-bottom: 10px">
	<h2 class="resource-h2">{{ page.common.contact_us }}</h2>
	<p>{{ page.common.contact_tag }}  <a href="mailto:inquiry@durathermfluids.com">inquiry@durathermfluids.com</a></p>
</div>
<div id="contact">
	<div class="contact-form-container">
		<div class="container">	
			<form id="contact-form">
				<h3 >{{ page.common.about_you }} <span>({{ page.common.required }})</span></h3>
				<div class="row">
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="first_name" class="sr-only">{{ page.common.first_name }}</label>
									<input type="text" id="first_name" class="form-control" name="first_name" placeholder="{{ page.common.first_name }} *"  />
									<input type="hidden" name="site-lang" value="{{page.common.lang}}" />
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="last_name" class="sr-only">{{ page.common.last_name }}</label>
									<input type="text" id="last_name" class="form-control" name="last_name" placeholder="{{ page.common.last_name }} *"  />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="email" class="sr-only">{{ page.common.email_address }}</label>
									<input type="email" id="email" class="form-control" name="email" placeholder="{{ page.common.email_address }} *"  />
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="country" class="sr-only">{{ page.common.country }}</label>
									<input type="text" id="country" class="form-control" name="country" placeholder="{{ page.common.country }} *"  />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="company" class="sr-only">{{ page.common.company }}</label>
									<input type="text" id="company" class="form-control" name="company" placeholder="{{ page.common.company }}"  />
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="phone" class="sr-only">{{ page.common.phone_number }}</label>
									<input type="text" id="phone" class="form-control" name="phone" placeholder="{{ page.common.phone_number }}"  />
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="about-comments" class="sr-only">{{ page.common.about_you }} {{ page.common.comments }}</label>
							<textarea id="about-comments" class="form-control" name="comments" rows="5" placeholder="{{ page.common.comments }}"></textarea>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="contact-column">
						<div class="col-sm-12">
							<h3 >{{ page.common.about_application }} <span>({{ page.common.optional_helpful }})</span></h3>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="temperature" class="sr-only">{{ page.common.temperature }}</label>
								<input class="contact-number number-input form-control" type="text" id="temperature" name="temperature" placeholder="{{ page.common.temperature }}" /> &deg;C
							</div>
							<div class="form-group">
								<label for="volume-contact" class="sr-only">{{ page.common.volume }}</label>
								<input class="contact-number number-input form-control" type="text" name="volume" id="volume-contact" placeholder="{{ page.common.volume }}" /> litres
							</div>
						</div>
						<div class="col-sm-8">
							<div class="form-group">
								<label for="application" class="sr-only">{{ page.common.industry_details }}</label>
								<textarea title="{{ page.common.industry_details }}" id="application" class="form-control" name="application" rows="5" placeholder="{{ page.common.industry_details }}"></textarea>
							</div>
						</div>
					</div>
					<div class="contact-column">
						<div class="col-sm-12">
							<div class="col-sm-12" style="padding-left:0;">
								<h3 >{{ page.common.get_quote }} <span>({{ page.common.optional }})</span></h3>
							</div>
							<div class="row" id="product-rows">
								<div id="product-row-1" class="product-row clearfix">
									<div class="col-xs-4">
										<div class="form-group">
											<label for="quote-products" class="sr-only">{{ page.common.product_type }}</label>
											<select id="quote-products" class="form-control" name="quote-products[]">
												<option>{{ page.common.product_type }}</option>
												{% for product in page.products %}
													<option value="{{ product.slug }}">{{ product.name }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group">
											<label for="quote-container-size" class="sr-only">{{ page.common.container_size }}</label>
											<select id="quote-container-size" class="form-control" name="quote-container-size[]">
												<option>{{ page.common.container_size }}</option>
												<option value="208 {{ page.common.liters }}">208 {{ page.common.liters }}</option>
												<option value="1040 {{ page.common.liters }}">1040 {{ page.common.liters }}</option>
												<option value="bulk">{{ page.common.bulk }} {{ page.common.liters }}</option>
											</select>
										</div>
									</div>
									<div class="col-xs-3">
										<div class="form-group">
											<label for="quote-quantity" class="sr-only">{{ page.common.quantity }}</label>
											<input type="text" id="quote-quantity" class="form-control number-input" name="quote-quantity[]" placeholder="{{ page.common.quantity }}" />
										</div>
									</div>
								</div>
									<div class="col-sm-12 ">
									<p id="add-product">
										+ {{ page.common.add_product }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="loader"></div>
						<div class="email-response">
							
						</div>
					</div>
					<div class="col-sm-12">
						<label for="contact-submit" class="sr-only">{{ page.common.submit }}</label>
						<button type="submit" id="contact-submit" class="btn btn-lg btn-hollow">{{ page.common.submit }}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
var emailSuccess = "{{ page.common.contact_success | raw }}";
</script>