<div class="row page-row gradient-background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr style="border-top: 2px solid #ccc;margin-top: 0; margin-bottom: 40px">
        <div class="col-icon">
          <img class="lg-icon" src="/assets/dist/img/icon-environment.png" alt="{{ page.alt_tags.hands | raw }}" />
        </div>
        <div class="text-col">
          {{ page.acf.environment | raw }}
          {% if page.common.lang == "de" %}
            {% set downloadLink = page.downloads.environment %}
          {% else %}
            {% set downloadLink = page.downloads.environment_de_en %}
          {% endif %}
	       <p class="no-margin-p">
	       	<a href="{{ downloadLink }}" class="cta" target="_blank">{{ page.common.download_report }} ></a>
	       </p>
        </div>
      </div>
    </div>
  </div>
</div>