<div class="row" style="padding-top:0">
	<div class="container outlasts">
		<div class="col-md-7" style="margin-left: 60px;">
			{{ page.acf.outlasts | raw }}
      {% if page.common.lang == "de" %}
        {% set downloadLink = page.downloads.outlasts %}
      {% else %}
        {% set downloadLink = page.downloads.outlasts_de_en %}
      {% endif %}
       <p class="no-margin-p"><a href="{{ downloadLink }}" class="cta" target="_blank">{{ page.common.download_report }} ></a></p>
		</div>
		<div class="clearfix outlast-image">
			<img src="/assets/dist/img/competitor-comparison.png" alt="{{ page.alt_tags.graph | raw }}" style="margin-left: 20px"/>
		</div>
	</div>
</div>