<div class="container">
  <div class="row point-card-container">
  <h2>The Duratherm Difference</h2>
  <p>For over 25 years, we’ve been producing some of the cleanest, safest, and longest lasting thermal fluids on the market. But the Duratherm Difference isn’t just about our thermal fluids - there’s a lot more that sets us apart.</p>
    <a href="" data-target="comparison" title="" class="scroll-link">
      <div class="col-md-3">
        <div class="point-card">
          <h2 class="h3">Competitive Comparison</h2>
            <div class="learn-more">
              <p>Learn More</p>
              <div class="arrow-down center-margin"></div>
            </div>
        </div>
      </div>
    </a>
    <a href="" data-target="advanced-technology" title="" class="scroll-link">
      <div class="col-md-3">
        <div class="point-card">
          <h2 class="h3">Advanced Technology</h2>
            <div class="learn-more">
              <p>Learn More</p>
              <div class="arrow-down center-margin"></div>
            </div>
        </div>
      </div>
    </a>
    <a href="" data-target="service" title="" class="scroll-link">
      <div class="col-md-3">
        <div class="point-card">
          <h2 class="h3">Unparalleled Service</h2>
            <div class="learn-more">
              <p>Learn More</p>
              <div class="arrow-down center-margin"></div>
            </div>
        </div>
      </div>
    </a>
    <a href="" data-target="contact" title="" class="scroll-link">
      <div class="col-md-3">
        <div class="point-card">
          <h2 class="h3">Contact Duratherm</h2>
            <div class="learn-more">
              <p>Learn More</p>
              <div class="arrow-down center-margin"></div>
            </div>
        </div>
      </div>
    </a>
  </div><!-- End point card container-->
</div>