<div class="row thermal-fluid-row">
  <div class="container">
    <div class="col-sm-12 thermal">
      <div style="margin-left: 30px;">
        {{ page.acf.thermal_fluids | raw }}
        <p class="no-margin-p" style="margin-top: 15px;">
          <a href="{{ page.lang }}/{{ page.common.products | lower }}" class="orange-cta">
            {{ page.common.find_your_fluid }} >
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="container center">
  <div class="light-white col-sm-12">
      <div class="col-sm-12">
        <hr style="border-top: 2px solid #ccc;margin-top:0; margin-bottom: 40px">
        <h2>{{ page.common.duratherm_difference | raw }}</h2>
      </div>
      <div class="col-sm-12 difference2">
        {{ page.acf.duratherm_difference | raw }}
        <hr style="border-top: 2px solid #ccc;margin-top: 40px; margin-bottom: 0">
      </div>
    </div>
  </div>
</div>