<div class="row page-row gradient-background">
	<div class="col-separator"></div>
	<div class="container">
		<div class="col-md-6">
			<div class="row">
				<div class="col-icon">
					<img class="lg-icon" src="/assets/dist/img/magnifying-glass.png" alt="{{ page.alt_tags.hourglass | raw }}" />
				</div>
				<div class="text-col half-width">
          {% if page.common.lang == "de" %}
            {% set degradationLink = page.downloads.fluid_degradation %}
            {% set maintenanceLink = page.downloads.fluid_maintenance %}
            {% set selectionLink = page.downloads.fluid_selection %}
          {% else %}
            {% set degradationLink = page.downloads.fluid_degradation_de_en %}
            {% set maintenanceLink = page.downloads.fluid_maintenance_de_en %}
            {% set selectionLink = page.downloads.fluid_selection_de_en %}
          {% endif %}
				<h3><span>{{ page.common.technical_papers }}</span></h3>
				<h4>{{ page.common.fluid_degradation }}</h4>
				{{ page.degradation | raw }}
	       <p><a href="{{ degradationLink }}" class="cta" target="_blank">{{ page.common.download}} ></a></p>
				<h4>{{ page.common.fluid_systems_maintenance | raw}}</h4>
				{{ page.maintenance | raw }}
	       <p><a href="{{ maintenanceLink }}" class="cta" target="_blank">{{ page.common.download}} ></a></p>
				<h4>{{ page.common.fluid_selection }}</h4>
				{{ page.selection | raw }}
	       <p><a href="{{ selectionLink }}" class="cta" target="_blank">{{ page.common.download}} ></a></p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-icon">
					<img class="lg-icon" src="/assets/dist/img/tools.png" alt="{{ page.alt_tags.globe | raw }}" />
				</div>
				<div class="text-col half-width">
				<h3><span>{{ page.common.tools }}</span></h3>
					<h4>{{ page.common.thermal_fluid_comparison }}</h4>
					<p class="tools2">
					{{ page.comparison | raw }}</p>
					<p>
			      <a href="{{ page.lang }}/{{page.common.resources | lower}}#compare-section" class="cta">{{ page.common.compare_fluids }} ></a>
			    </p>
					<h4>{{ page.common.heat_transfer_calculators }}</h4>
					<p class="tools2">
					{{ page.calculators | raw }}</p>
					<p>
			      <a href="{{ page.lang }}/{{page.common.resources | lower}}#calc-section" class="cta">{{ page.common.use_calculators }} ></a>
			     </p>
				</div>
			</div>
		</div>
	</div>
</div>