<div class="row page-row gradient-background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-icon">
          <img class="lg-icon" src="/assets/dist/img/unparalleled-icon.png" alt="{{ page.alt_tags.globe | raw }}" />
        </div>
        <div class="text-col">
          {{ page.acf.unparalleled_service | raw }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
<hr style="border-top: 2px solid #ccc; margin-left: 25px; margin-right: 25px;">
</div>