<div class="row hidden-xs" style="margin-top:0; padding-top: 0">
	<div class="container clearfix" id="who-trusts">
		<div class="col-md-12">
			<hr style="border-top: 2px solid #ccc;margin-top: 0; margin-bottom: 40px">
			<h2 style="margin-left: 63px; margin-bottom: 25px;">{{ page.common.trusts }}</h2>
		</div>

		<div id="scroller" class="col-md-12" style="height: 101px; margin: 0 auto;">
	    <div class="innerScrollArea">
        <ul>
           <li class="client-logos"><img src="/assets/dist/img/logos1.png" alt="{{ page.alt_tags.logos | raw }}" /></li>
           <li class="client-logos"><img src="/assets/dist/img/logos2.png" alt="{{ page.alt_tags.logos | raw }}" /></li>
           <li class="client-logos"><img src="/assets/dist/img/logos3.png" alt="{{ page.alt_tags.logos | raw }}" /></li>
           <li class="client-logos"><img src="/assets/dist/img/logos4.png" alt="{{ page.alt_tags.logos | raw }}" /></li>
           <li class="client-logos"><img src="/assets/dist/img/logos5.png" alt="{{ page.alt_tags.logos | raw }}" /></li>
           <li class="client-logos"><img src="/assets/dist/img/logos6.png" alt="{{ page.alt_tags.logos | raw }}" /></li>
           <li class="client-logos"><img src="/assets/dist/img/logos7.png" alt="{{ page.alt_tags.logos | raw }}" /></li>
        </ul>
	    </div>
		</div>
		<div class="col-md-12 center">
			<div class="testimonial-container clearfix">
				<div class="testimonial-body">
		      <div id="testimonial"></div>
		      <div id="testimonial-author"></div>
		    </div>
		  </div>
			<hr style="border-top: 2px solid #ccc;margin-top: 40px; margin-bottom: -10px">
		</div>
	</div>
</div>