
<div class="row">
	<div class="col-md-12 center">
		<p>
			<a href="{{ path_for('products') }}">
				<button class="btn fluid-find btn-giant">
					<i class="fa fa-search" aria-hidden="hidden"></i>&nbsp;
					Find your fluid
				</button>
			</a>
		</p>
	</div>
</div>