<form id="fluid-finder">
	<header>
		<h2>{{ page.common.filter }}</h2>
	</header>
	<div class="fluid-inner">
		<div class="row">
			<div class="col-xs-12">
				<h3>{{ page.common.application }}:</h3>
			</div>
			<div class="col-xs-12">
				<label for="need-heat">
					<input type="checkbox" name="needto_heat" id="need-heat" class="needto-checkbox" value="heat" data-set="heat" data-action="maxtemp" /> 
					<span class="radio-label-front">{{ page.common.heat }}</span>
				</label>
			</div>
			<div class="col-xs-12">
				<label for="need-cool">
					<input type="checkbox" name="needto_cool" id="need-cool" class="needto-checkbox" value="cool" data-set="cool" data-action="mintemp" />
					<span class="radio-label-front">{{ page.common.cool }}</span>
				</label>
			</div>
			<div class="col-xs-12">
				<label for="need-heat-cool">
					<input type="checkbox" name="needto_heat_cool" id="need-heat-cool" class="needto-checkbox" value="heat_cool" data-set="heat-cool" data-action="heat-cool" />
					<span class="radio-label-front">{{ page.common.heat_cool | raw }}</span>
				</label>
			</div>
			<div class="col-xs-12">
				<div id="ff-min-temp-value-container" class="needto-text">
					<input type="text" id="ff-min-temp-value" class="heat-cool number-input" name="ff_min_temp" data-action="mintemp" placeholder="{{ page.common.min_temp }}" /> &deg;C
				</div>
				<div id="ff-max-temp-value-container" class="needto-text">
					<input type="text" id="ff-max-temp-value" class="heat-cool first number-input" name="ff_max_temp" data-action="maxtemp" placeholder="{{ page.common.max_temp }}" /> &deg;C
				</div>
			</div>
		</div>
		<hr>
		<h2 class="h4"></h2>
		<div class="row">
			<div class="col-xs-12">
				<label for="min_flashpoint" class="sr-only">{{ page.common.min_flashpoint }}</label>
				<h3>{{ page.common.min_flashpoint }}:</h3>
			</div>
			<div class="col-xs-12">
				<input type="text" id="min-flashpoint" class="number-input"  name="min_flashpoint" data-action="flashpoint" placeholder="Min. {{ page.common.flashpoint }}" /> &deg;C
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<label for="food-grade">
					<input type="checkbox" name="food_grade" id="food-grade" data-action="food-grade" />
					<span class="radio-label-front"><span class="h3"> {{ page.common.food_grade }}</span></span>
				</label>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-xs-12 center">
					<input class="btn btn-hollow" type="submit" name="ff_submit" id="ff_submit" value="{{page.common.filter}}" />
					<a href="#" class="all-products reset-products">{{ page.common.reset }}</a>
				
			</div>
		</div>
	</div>
</form>
<div>
	<ul class="filtered-out">
	</ul>
</div>