<div class="footer-wrapper">
  <div class="footer">
    <div class="container" style="margin-left: 25px;">
      <div>
        <div class="col-sm-4 footer-column">
          <h2>{{ page.common.products }}</h2>
          <div class="col-md-6 footer-column">
            <ul>
              {% for product in page.products %}
                {% if loop.index <= 5 %}
                  <li><a href="{{page.common.base_url}}{{ page.common.products | lower }}/{{product.slug}}">{{product.name}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-6 footer-column">
            <ul>
              {% for product in page.products %}
                {% if loop.index > 5 %}
                  <li><a href="{{page.common.base_url}}{{ page.common.products | lower }}/{{product.slug}}">{{product.name}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-sm-4 footer-column hidden-xs hidden-sm" style="max-width:30%">
        <img src="/assets/dist/img/map.png" alt="{{ page.alt_tags.map_alt | raw }}" />
        </div>
        <div class="col-sm-4 footer-column">
          <div class="col-md-6 footer-column">
            <h2>{{ page.common.international }}</h2>
            <ul>
              {% for link in page.footer_links %}
              <li><a href="{{ link.microsite_url }}" target="_blank">{{link.microsite_name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-6 footer-column">
            <h2>{{ page.common.site }}</h2>
            <ul>
              <li><a id="home-nav-footer" href="{{ page.lang }}/">{{ page.common.home }}</a></li>
              <li><a id="products-nav-footer" href="/{{ page.common.products | lower}}">{{ page.common.products }}</a></li>
              <li><a id="resources-nav-footer" href="/{{ page.common.resources | lower}}">{{ page.common.resources }}</a></li>
              {% if page.common.lang == "en" %}
                <li><a id="privacy-nav-footer" href="https://durathermfluids.com/privacy/" target="_blank">{{ page.common.privacy }}</a></li>
              {% else %}
                <li><a id="privacy-nav-footer" href="/datenschutz-richtlinie">{{ page.common.privacy }}</a></li>
              {% endif %}
            </ul>
            <p class="copyright">{{ page.common.copyright|raw }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>