<div class="header-container"><!--Start Header -->
  {% include 'partials/lang_selector.twig' %}
  <div class="row header">
    <div class="container" style="position: relative">
        
      <div class="col-md-6 logo">
        <a href="{{ page.common.base_url }}"><img src="/assets/dist/img/duratherm.png" alt="{{ page.alt_tags.logo | raw }}" /></a>
      </div>
      <div class="col-md-6 navigation">
        {% include 'partials/nav.twig' %}
        <div class="inline-element">
        </div>
      </div>
    </div>
  </div>
</div><!--End Header-->