<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ page.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>

	<script>
		dataLayer = [{ 'iubendaPolicyId': '_iub_cs-62398066' }]
	</script>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				}); var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-N2DN27N');</script>
	<!-- End Google Tag Manager -->
	{% for alt in page.alternates %} {% if alt.external == '0' %}
	<link rel="alternate" href="{{ base_url() }}{{ alt.link }}" hreflang="{{ alt.lang }}" /> {% else %}
	<link rel="alternate" href="{{ alt.link }}" hreflang="{{ alt.lang }}" /> {% endif %} {% endfor %}


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet">
	<link rel="icon" href="./favicon.ico?v=2" /> {# Our css #}
	<link rel="stylesheet" href="/assets/dist/css/main.min.css?v6.3">

	<script>
		var fullProductsArray;
		fullProductsArray = {{ page.products | json_encode | raw }};
		fullProductsArrayHtcc = {{ page.products | json_encode | raw }};

		if (localStorage.getItem("productsArray") == "null" || localStorage.getItem("productsArray") == null || localStorage.getItem("languageChange") === "true") {
			var productsArray = fullProductsArray;
			localStorage.setItem("productsArray", JSON.stringify(productsArray));
			localStorage.removeItem("languageChange");
			localStorage.removeItem("filterSettings");
		} else {
			var productsArray = JSON.parse(localStorage.getItem("productsArray"));
		}

		var compProducts = {{ page.comp_products | json_encode | raw }};
		var distributors = {{ page.distributors | json_encode | raw }};
		var common_terms = {{ page.common | json_encode | raw }};
	</script>
	<script>
		var baseUrl = "{{ base_url() }}";
	</script>
</head>