<div class="nav-container right">
	<nav>
		<ul>
			<li><a id="home-nav" href="{{ page.common.base_url }}">{{ page.common.home }}</a></li>&nbsp;<span class="orange">|</span>&nbsp;
			<li><a id="products-nav" href="{{ page.common.base_url }}{{ page.common.products | lower}}">{{ page.common.products }}</a></li>&nbsp;<span class="orange">|</span>&nbsp;
			<li><a id="resources-nav" href="{{ page.common.base_url }}{{ page.common.resources | lower}}">{{ page.common.resources }}</a></li>&nbsp;<span class="orange">|</span>&nbsp;
			<li><a class="scroll-link contact-link" data-target="contact">{{ page.common.contact_us }}</a></li>
		</ul>
	</nav>       
</div>