{% extends 'layout.twig' %}

{% block content %}
<div class="homepage">
  {% include 'partials/sections/thermal-fluids.twig' %}
  {% include 'partials/sections/cleaner-running.twig' %}
  {% include 'partials/sections/unparalleled-service.twig' %}
  {% include 'partials/sections/outlasts-competition.twig' %}
  {% include 'partials/sections/environmentally-responsible.twig' %}
  {% include 'partials/sections/who-trusts.twig' %}
  {% include 'partials/sections/tips-tools.twig' %}
</div>
<script>
var testimonials = [];
testimonials = {{ page.testimonials|json_encode|raw }};
</script>
{% endblock %}