<div class="row toggle-row">
  <div class="container" style="margin: 10px auto;">
    <div class="col-md-12">
      <div class="lang-container">
        <div class="lang-selected lang-option" data-language="{{ page.common.lang | upper }}">
          <img src="/assets/dist/img/flags/{{ page.common.lang }}.png"?>
          <span>{{ page.common.lang | upper }}</span>
          <span class="glyphicon glyphicon-chevron-down down-arrow"></span>
        </div>
        <div class="lang-list">
          {% for lang in page.site_languages %}
            <div class="lang-selector lang-option" data-language="{{ lang | upper }}">
              <img src="/assets/dist/img/flags/{{ lang }}.png"?>
              <span>{{ lang | upper }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>