<!doctype html>
<html lang="en">
{% include 'partials/html_header.twig' %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2DN27N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% if page.common.lang == '' %} {% set basepath = base_url() %} {% else %} {% set basepath = base_url() ~ "/" ~ page.common.lang
  %} {% endif %} {% if page.products_page %}
  <script>
    var productsPage = "{{ page.products_page }}";
  </script> {% endif %} {% if page.resources_page %}
  <script>
    var resourcesPage = "{{ page.resources_page }}";
  </script> {% endif %}
  <script>
    var commonTerms = {{ page.common | json_encode | raw }};
    var navPage = "{{ page.navPage }}";
  </script> {% include 'partials/header.twig' %}
  <div class="container-whole">
    {% block content %} {% endblock %} {% include 'partials/sections/contact.twig' %} {% include 'partials/footer.twig' %}
  </div>
  <div class="back-to-top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i> {{ page.common.top }}</div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="/assets/dist/js/main.min.js?v=6.5"></script>

  <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"lang":"en","perPurposeConsent":true,"siteId":952557,"whitelabel":false,"cookiePolicyId":8265236, "banner":{ "acceptButtonDisplay":true,"closeButtonRejects":true,"customizeButtonDisplay":true,"explicitWithdrawal":true,"listPurposes":true,"ownerName":"durathermöle.de","rejectButtonDisplay":true,"showPurposesToggles":true,"showTotalNumberOfProviders":true }};
    </script>
    <script type="text/javascript" src="//cs.iubenda.com/sync/952557.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>

</html>