{% extends 'layout.twig' %}

{% block content %}
    <div  id="products">
      <div class="row">
        <div class="container" style="margin-bottom: 0">
          <div class="col-md-12">
            <h1 class="resource-h1">{{ page.common.thermal_fluids }}</h1>
            <div>{{ page.content | raw }}</div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:0">
      <div class="container">
        <div class="col-md-12">
          <hr style="margin:10px">
        </div>
        <div class="col-md-12 sort-row">
            <div class="center products-viewing">
              {% if page.common.lang == "en" %}
                <p>Currently viewing <span id="current-products"></span> of <span id="total-products"></span> Produkten. <a href="" class="all-products">Click to view all products</a></p>
              {% else %}
                <p>Derzeit betrachten Sie <span id="current-products"></span> von  <span id="total-products"></span> products. <a href="" class="all-products">Klicken Sie hier, um alle Produkte anzeigen zu lassen</a></p>
              {% endif %}
            </div>
              <div class="sort-select-div"> 
                <p class="sortby-label">{{ page.common.sort_by }}</p>
                <label for="sortby" class="sr-only">{{ page.common.sort_by }}</label>
                <select id="sortby" name="sortby" class="sortby">
                  <option value="selectSort">{{ page.common.select }}</option>
                  <option value="viscosity-low" id="best-match">{{ page.common.best_match }}</option>
                  <option value="maxtemp-high">{{ page.common.max_temp_high }}</option>
                  <option value="maxtemp-low">{{ page.common.max_temp_low }}</option>
                  <option value="flashpoint-high">{{ page.common.flash_high }}</option>
                  <option value="flashpoint-low">{{ page.common.flash_low }}</option>
                </select>
              </div>
            </div>
        <div class="col-md-3 hidden-xs">
          {% include "partials/fluid-finder.twig" %}
        </div>
        <div class="col-md-9">
          <div class="product-card-container">
             {% for product in page.products %}
              {% if product.min_temp %}
                {% set cols = 4 %}
              {% else %}
                {% set cols = 6 %}
              {% endif %}
              <div class="col-md-12 card-container"
                data-mintemp="{{ product.min_temp }}"
                data-maxtemp="{{ product.max_temp }}"
                data-flashpoint="{{ product.flashpoint }}"
                data-foodgrade="{{ product.food_grade }}"
                data-visible="yes"
                data-product="{{ product.id }}" 
                data-viscosity="{{ product.viscosity_104 }}" 
                id="{{ product.id }}"
              >
                <div class="product-card">
                  <header>
                    <h3><a href="{{ page.common.base_url }}{{ page.common.products | lower}}/{{ product.slug | lower }}">{{ product.name }}</a></h3>
                    <p class="temp"><span>{{ page.common.max_temp }}</span><br>{{ product.max_temp }}&deg;C</p>
                    {% if product.cooling_fluid == 'yes' %}
                      <p class="temp"><span>{{ page.common.min_temp }}</span><br>{{ product.min_temp }}&deg;C</p>
                    {% endif %}
                    <p class="temp"><span>{{ page.common.flashpoint }}</span><br>{{ product.flashpoint }}&deg;C</p>
                    <a class="close-product hidden-xs" data-product="{{ product.id }}">
                      <span class="sr-only">close</span>x
                    </a>
                  </header>
                  <div class="inner clearfix">
                    <div class="product-info col-sm-9">
                      <div class="product-description"><p>{{ product.excerpt[0:160] | striptags | raw }}...
                        <a href="#" data-toggle="modal" data-target="#modal-{{ product.slug }}">
                          <img src="/assets/dist/img/down-arrow-square.png" alt="down-arrow"/>
                        </a></p>
                      </div>
                    </div>
                    <div class="product-side col-sm-3">
                      <a href="{{ page.common.base_url }}{{ page.common.products | lower}}/{{ product.slug | lower }}" class="btn btn-hollow">{{ page.common.view_product }}</a><br>
                      <label for="compare-{{ product.id }}" class="hidden-xs">                        
                        <input class="compare-checkbox" type="checkbox" id="compare-{{ product.id }}" name="compare" value="{{ product.id }}"> </input>
                        <span class="radio-label">{{ page.common.compare }}</span>
                      </label>

                    </div>
                  </div>
                </div>
              </div>
             {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </div><!--End partials/products-->


  {% for product in page.products %}
    <!-- Modal {{product.name}}-->
    <div id="modal-{{ product.slug }}" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 inner">
                <div class="temps">
                  <h2 class="modal-title">{{ product.name }}</h2>
                  <p class="temp"><span>{{ page.common.max_temp }}</span><br>{{ product.max_temp }}&deg;C</p>
                  {% if product.cooling_fluid == 'yes' %}
                    <p class="temp"><span>{{ page.common.min_temp }}</span><br>{{ product.min_temp }}&deg;C</p>
                  {% endif %}
                  <p class="temp"><span>{{ page.common.flashpoint }}</span><br>{{ product.flashpoint }}&deg;C</p>
                </div>
                {{ product.excerpt | raw }}
              </div>
              <div class="col-md-6 inner" style="margin-top:5px">
                <ul>
                  {% for quickfact in product.quick_facts %}
                    <li class="quickfact">{{ quickfact.quick_fact | raw }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button 
              class="btn btn-hollow get-quote" 
              data-product="{{ product.slug }}" 
              data-target="contact"
            >
                {{ page.common.get_quote }}
            </button>
            <a href="{{page.common.base_url}}{{ page.common.products | lower}}/{{ product.slug | lower }}" class="btn btn-default">{{ page.common.view_product }}</a>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
  {% include 'partials/compare.twig' %}
{% endblock %}