{% extends 'layout.twig' %}
{% if page.common.lang == "de" %}
  {% set tdsLink = page.product.tds %}
{% else %}
  {% set tdsLink = page.product.tds_de_en %}
{% endif %}

{% block content %}
  <div class="product-page">
    <div class="row" style="margin-top:110px">
    <div class="container">
      <div class="col-md-7 mainpage">
      <div class="row" style="margin-top:0">
        <div class="col-md-12 sort-row sort-row-left" style="padding-top:0">
          <p class="sortby-label">{{ page.common.products }}</p>
          <label for="product-dropdown" class="sr-only">Select a product</label>
          <select id="product-dropdown" name="product-dropdown">
            <option value="more">{{ page.common.more_heat_transfer_fluids }}</option>
            {% for product in page.products %}
              {% if product.slug != page.product.slug %}
                <option value="{{ page.common.base_url }}{{ page.common.products | lower}}/{{ product.slug | lower }}">{{ product.name }}</option>
              {% endif %}
            {% endfor %}
            <option value="{{ page.common.base_url }}{{ page.common.products | lower}}">{{ page.common.all_products }}</option>
          </select>
        </div>
      </div>
        <h1 style="font-size: 22px; font-weight: 700;">{{ page.product.name }}</h1>
        <div class="product-description">
          {{ page.product.description | raw }}
          <ul class="quickfacts">
            {% for quickfact in page.product.quick_facts %}
              <li class="quickfact">{{ quickfact.quick_fact | raw }}</li>
            {% endfor %}
          </ul>
          <div class="downloads clearfix">
            <div class="col-sm-6">
              <p class="data-sheet" style="float:left; margin-right: 10px;">
                <a href="https://durathermfluids.com/pdf_micro/{{ page.product.slug }}/{{ page.product.slug }}-de-{{page.lang}}.pdf" target="_blank">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <p style="float:left; margin-top:10px"><strong>TDS</strong><br>({{ page.common.technical_data_sheet }})</p>
                </a>
              </p>
            </div>
            <div class="col-sm-6">
              <p class="data-sheet" style="float:left; margin-right: 10px;">
                <a href="https://durathermfluids.com/pdf_micro/sds/{{page.lang2}}/thermal_fluids/{{ page.product.slug | replace({'-':'_'}) }}_sds-reach-{{page.lang}}.pdf" target="_blank">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <p style="float:left; margin-top:10px"><strong>SDS</strong>.<br>({{ page.common.safety_data_sheet }})</p>
                </a>
              </p>
            </div>
          </div>
          <div>
            <button 
              class="btn btn-hollow get-quote" 
              style="margin-bottom: 5px; margin-left: 15px" 
              data-product="{{ page.product.slug }}" 
              data-target="contact"
            >
                {{ page.common.get_quote }}
            </button>
          </div>
          <div class="product-tables">
            <table>
              <tr><th colspan="2">{{ page.common.temperature_ratings}}</th></tr>
              <tr>
                <td>{{ page.common.maximum_bulk_use_temp }}</td>
                <td class="right">{{ page.product.max_temp }}&deg;C</td>
              </tr>
              <tr class="grey-row">
                <td>{{ page.common.maximum_film_temp }}</td>
                <td class="right">{{ page.product.film_temp }}&deg;C</td>
              </tr>
              <tr>
                <td>{{ page.common.pour_point }} <span>ASTM D445</span></td>
                <td class="right">{{ page.product.pour_point }}&deg;C</td>
              </tr>
            </table>
            <table>
              <tr><th colspan="2">{{ page.common.safety_data }}</th></tr>
              <tr>
                <td>{{ page.common.flashpoint }} <span>ASTM D92</span></td>
                <td class="right">{{ page.product.flashpoint }}&deg;C</td>
              </tr>
              <tr class="grey-row">
                <td>{{ page.common.fire_point }} <span>ASTM D92</span></td>
                <td class="right">{{ page.product.fire_point }}&deg;C</td>
              </tr>
              {% if page.product.auto_ignition_temp != "N/A" %}
                <tr>
                  <td>{{ page.common.auto_ignition }} <span>ASTM E-659-78</span></td>
                  <td class="right">{{ page.product.auto_ignition_temp }}{% if page.product.auto_ignition_temp != "N/A" %}&deg;C{% endif %}</td>
                </tr>
              {% endif %}
            </table>
            <table>
              <tr><th colspan="2">{{ page.common.thermal_properties }}</th></tr>
              {% if page.product.auto_ignition_temp != "N/A" %}
                <tr>
                  <td>{{ page.common.thermal_expansion_coefficient }}</td>
                  <td class="right">{% if page.product.thermal_expansion_coefficient != "N/A" %}{{ (page.product.thermal_expansion_coefficient * 1.8)|round(4, "common") }} %/&deg;C{% endif %}</td>
                </tr>
              {% endif %}
              <tr class="darkgrey-row">
                <td>{{ page.common.thermal_conductivity }}</td>
                <td class="right"><span>W/m·K</span></td>
              </tr>
              {% set counter = 1 %}
              {% for data in page.product.fluid_data %}
                {% if data.temperature in page.temperature_range %}
                  <tr>
                    {% if counter % 2 %}
                      <td>{{ data.temperature }}&deg;C</td>
                      <td class="right">{{ data.thermal_conductivity }}</td>
                    {% else %}
                      <td class="grey-row">{{ data.temperature }}&deg;C</td>
                      <td class="grey-row right">{{ data.thermal_conductivity }}</td>
                    {% endif %}
                  </tr>
                  {% set counter = counter + 1 %}
                {% endif %}
              {%  endfor %}
              <tr class="darkgrey-row">
                <td>{{ page.common.heat_capacity }}</td>
                <td class="right"><span>kJ/kg·K</span></td>
              </tr>
              {% set counter = 1 %}
              {% for data in page.product.fluid_data %}
                {% if data.temperature in page.temperature_range %}
                  <tr>
                    {% if counter % 2 %}
                        <td>{{ data.temperature }}&deg;C</td>
                        <td class="right">{{ data.heat_capacity }}</td>
                      {% else %}
                        <td class="grey-row">{{ data.temperature }}&deg;C</td>
                        <td class="grey-row right">{{ data.heat_capacity }}</td>
                      {% endif %}
                    </tr>
                  {% set counter = counter + 1 %}
                  {% endif %}
              {%  endfor %}
            </table>
            <table>
              <tr><th colspan="2">{{ page.common.physical_properties }}</th></tr>
              <tr class="darkgrey-row">
                <td>{{ page.common.viscosity }} <span>ASTM D445</span></td>
                <td class="right"><span>cSt</span></td>
              </tr>
              {% set counter = 1 %}
              {% for data in page.product.fluid_data %}
                {% if data.temperature in page.viscosity_range %}
                  <tr>
                    {% if counter % 2 %}
                        <td>{{ data.temperature }}&deg;C</td>
                        <td class="right">{{ data.kinematic_viscosity }}</td>
                      {% else %}
                        <td class="grey-row">{{ data.temperature }}&deg;C</td>
                        <td class="grey-row right">{{ data.kinematic_viscosity }}</td>
                      {% endif %}
                    </tr>
                    {% set counter = counter + 1 %}
                  {% endif %}
              {%  endfor %}
              <tr class="darkgrey-row">
                <td>{{ page.common.density }} <span>ASTM D1298</span></td>
                <td class="right"><span>d/ml</span></td>
              </tr>
              {% set counter = 1 %}
              {% for data in page.product.fluid_data %}
                {% if data.temperature in page.temperature_range %}
                  <tr>
                    {% if counter % 2 %}
                        <td>{{ data.temperature }}&deg;C</td>
                        <td class="right">{{ data.density }}</td>
                      {% else %}
                        <td class="grey-row">{{ data.temperature }}&deg;C</td>
                        <td class="grey-row right">{{ data.density }}</td>
                      {% endif %}
                    </tr>
                    {% set counter = counter + 1 %}
                  {% endif %}
              {%  endfor %}
              <tr class="darkgrey-row">
                <td>{{ page.common.vapour_pressure }} <span>ASTM D2879</span></td>
                <td class="right"><span>kPa</span></td>
              </tr>
              {% set counter = 1 %}
              {% for data in page.product.fluid_data %}
                {% if data.temperature in page.temperature_range %}
                  <tr>
                    {% if counter % 2 %}
                        <td>{{ data.temperature }}&deg;C</td>
                        <td class="right">{{ data.vapour_pressure }}</td>
                      {% else %}
                        <td class="grey-row">{{ data.temperature }}&deg;C</td>
                        <td class="grey-row right">{{ data.vapour_pressure }}</td>
                      {% endif %}
                    </tr>
                    {% set counter = counter + 1 %}
                  {% endif %}
              {%  endfor %}
              <tr class="darkgrey-row">
                <td colspan="2">{{ page.common.distillation_range }} <span>ASTM D2887</span></td>
              </tr>
              <tr>
                <td>10%</td>
                <td class="right">{{ page.product.distillation_range_10 }}&deg;C</td>
              </tr>
              <tr class="grey-row">
                <td>90%</td>
                <td class="right">{{ page.product.distillation_range_90 }}&deg;C</td>
              </tr>
              {% if page.product.average_molecular_weight != "N/A" %}
                <tr>
                  <td>{{ page.common.average_molecular_weight }}</td>
                  <td class="right">{{ page.product.average_molecular_weight }}</td>
                </tr>
              {% endif %}
              {% if page.product.specific_gravity != "N/A" %}
                <tr class="grey-row">
                  <td>{{ page.common.specific_gravity }} @ 16&deg;C</td>
                  <td class="right">{{ page.product.specific_gravity }}</td>
                </tr>
              {% endif %}
            </table>
            <p class="ligthweight" style="margin-top: 20px; padding: 10px;">Note: The values quoted in the table above are typical of normal production.<br>They do not constitute a specification.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 sidebar">
        <img src="/assets/dist/img/{{ page.product.slug }}.jpg" alt="{{ page.image_alt_tag | raw }}"/>
        <div class="callout">
          <header>{{ page.common.what_our_customers_say }}</header>
          <div class="testimonial-wrapper">
            <blockquote id="testimonial"></blockquote>
            <div id="testimonial-author"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <script>
  var testimonials = [];
  testimonials = {{ page.testimonials|json_encode|raw }};
  </script>

{% endblock %}