{% extends 'layout.twig' %} {% block content %}
{% if page.common.lang == "de" %}
  {% set outlastsLink = page.downloads.outlasts %}
  {% set environmentLink = page.downloads.environment %}
  {% set degradationLink = page.downloads.fluid_degradation %}
  {% set maintenanceLink = page.downloads.fluid_maintenance %}
  {% set selectionLink = page.downloads.fluid_selection %}
{% else %}
  {% set outlastsLink = page.downloads.outlasts_de_en %}
  {% set environmentLink = page.downloads.environment_de_en %}
  {% set degradationLink = page.downloads.fluid_degradation_de_en %}
  {% set maintenanceLink = page.downloads.fluid_maintenance_de_en %}
  {% set selectionLink = page.downloads.fluid_selection_de_en %}
{% endif %}

<div class="resources">
  <div class="row">
    <div class="container" style="margin-bottom:0">
      <div class="col-md-12">
        <h1 class="resource-h1">{{ page.common.resources_header }}</h1>
        <h2 class="resource-h2">{{ page.common.industry_reports }}</h2>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:0;">
    <div class="container" style="margin-top:0;margin-bottom:0">
      <div>
        <div class="col-sm-6" style="padding-right: 40px">
          {{ page.acf.res_lasts | raw }}
          <p><a href="{{ outlastsLink }}" class="cta" target="_blank">{{ page.common.download_report }} ></a></p>
          <img alt="" src="/assets/dist/img/competitor-comparison.png" style="margin-top: 20px;">
        </div>
        <div class="col-sm-6 resources-left-col" style="padding-right: 20px;">
          {{ page.acf.res_environment | raw }}
          <p><a href="{{ environmentLink }}" class="cta" target="_blank">{{ page.common.download_report }} ></a></p>
          <img alt="" src="/{{ page.pdf_report_img }}" style="max-width: 120px; margin-top: 20px;">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container" style="margin-bottom:0">
      <div class="col-md-12">
        <hr>
        <h2 class="resource-h2">{{ page.common.technical_papers }}</h2>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:0">
    <div class="container" style="margin-bottom:0">
      {{ page.acf.res_tech | raw }}
    </div>
    <div class="container" style="margin-bottom:0">
      <hr>
    </div>  
  </div>
  <div class="row" id="compare-section">
    <div class="container" style="margin-bottom: 0;">
      <div class="col-md-12">
        <h2 class="resource-h2" style="margin-top:0;">{{ page.common.thermal_fluid_comparison }}</h2>
        <p>{{ page.acf.res_thermal | striptags }}</p>
      </div>
    </div>
  </div>
  <div class="row hidden-xs" style="margin-bottom: 0">
    <div class="container compare-main-container" style="margin-bottom:0">
      {% include 'partials/sections/compare-table.twig' %}
    </div>
  </div>
  <div class="row hidden-sm hidden-md hidden-lg compare-hide" style="margin-bottom: 0">
    <div class="container compare-main-container">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <p>{{ page.common.compare_warning }}</p>
    </div>
  </div>
  <div class="row" id="calc-section">
    <div class="container" style="margin-bottom: 0;">
      <h2 class="resource-h2">{{ page.common.industry_calculators }}</h2>
      <div>
        <p>{{ page.acf.res_calculators | raw }}</p>
        <select class="calculator-select calc1" style="margin-bottom:0px">
          <option value="heat-transfer-coefficient">
            {{ page.common.heat_transfer_coefficient }}
          </option>
          <option value="heat-transfer">
            {{ page.common.heat_transfer_calculators }}
          </option>
          <option value="thermal-expansion">
            {{ page.common.thermal_expansion }}
          </option>
          <option value="operating-viscosity">
            {{ page.common.operating_viscosity }}
          </option>
          <option value="fluid-flow">
            {{ page.common.fluid_flow }}
          </option>
          <option value="volume">
            {{ page.common.volume_calculators }}
          </option>
        </select>
        <select class="calculator-select calc2">
          <option value="heat-transfer">
            {{ page.common.heat_transfer_calculators }}
          </option>
          <option value="thermal-expansion">
            {{ page.common.thermal_expansion }}
          </option>
          <option value="operating-viscosity">
            {{ page.common.operating_viscosity }}
          </option>
          <option value="fluid-flow">
            {{ page.common.fluid_flow }}
          </option>
          <option value="volume">
            {{ page.common.volume_calculators }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 0">
    <div class="container calculators">
      <div>
        <div class="calculator-group hidden-xs" id="heat-transfer-coefficient">
          <div class="row">
            <div class="page-header" style="margin-top: 0; border:none">
              <h2 class="page-title" style="margin-top:0; font-size: 20px">{{ page.common.htc_title}}</h2>
              <p>{{ page.common.htc_blurb }}</p>
            </div>
            <div class="col-md-12">
              {% include 'partials/calculators/heat-transfer-coefficient.twig' %}
            </div>
          </div>
        </div>
        <div class="calculator-group" id="heat-transfer">
          <div class="row">
            <div class="page-header" style="margin-top: 0; border:none">
              <h2 class="page-title" style="margin-top:0; font-size: 20px">{{ page.common.bht_title}}</h2>
              <p>{{ page.common.bht_blurb }}</p>
            </div>
            <div class="col-md-4">
              {% include 'partials/calculators/basic-heat-transfer.twig' %}
            </div>
            <div class="col-md-4">
              {% include 'partials/calculators/conduction-heat-transfer.twig' %}
            </div>
            <div class="col-md-4">
              {% include 'partials/calculators/natural-free-convection.twig' %}
            </div>
          </div>
        </div>
        <div class="calculator-group" id="thermal-expansion">
          <div class="row">
            <div class="page-header" style="margin-top: 0; border:none">
              <h2 class="page-title" style="margin-top:0; font-size: 20px">{{ page.common.tevd_title}}</h2>
              <p>{{ page.common.tevd_blurb }}</p>
            </div>
            <div class="col-md-12">
              {% include 'partials/calculators/thermal-expansion.twig' %}
            </div>
          </div>
        </div>
        <div class="calculator-group" id="operating-viscosity">
          <div class="row">
            <div class="page-header" style="margin-top: 0; border:none">
              <h2 class="page-title" style="margin-top:0; font-size: 20px">{{ page.common.ov_title}}</h2>
              <p>{{ page.common.ov_blurb }}</p>
            </div>
            <div class="col-md-12">
              {% include 'partials/calculators/operating-viscosity.twig' %}
            </div>
          </div>
        </div>
        <div class="calculator-group" id="fluid-flow">
          <div class="row">
            <div class="page-header" style="margin-top: 0; border:none">
              <h2 class="page-title" style="margin-top:0; font-size: 20px">{{ page.common.ff_title}}</h2>
              <p>{{ page.common.ff_blurb }}</p>
            </div>
            <div class="col-md-6">
              {% include 'partials/calculators/average-flow-velocity.twig' %}
            </div>
            <div class="col-md-6">
              {% include 'partials/calculators/volumetric-flow-rate.twig' %}
            </div>
          </div>
        </div>
        <div class="calculator-group" id="volume">
          <div class="row">
            <div class="page-header" style="margin-top: 0; border:none">
              <h2 class="page-title" style="margin-top:0; font-size: 20px">{{ page.common.vc_title}}</h2>
              <p>{{ page.common.vc_blurb }}</p>
            </div>
            <div class="col-md-4">
              {% include 'partials/calculators/volume-cylinder.twig' %}
            </div>
            <div class="col-md-4">
              {% include 'partials/calculators/volume-rectangular-prism.twig' %}
            </div>
            <div class="col-md-4">
              {% include 'partials/calculators/volume-sphere.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}