img {
	max-width: 100%;
}
body, html {
	overflow-x: hidden;
	position: relative;
}

.scroll-link {
	cursor: pointer;
}
.right {
	text-align: right; 
}

.left {
	text-align: left;
}

.center {
	text-align: center !important; 
}
.no-margin-p {
	margin: 0;
	padding: 0;
	.home-tips & {
		text-align: center;
	}
}

.inline-element {
	display: inline-block;
}

.center-margin {
	margin: 0 auto;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 20px solid $orange;
}

.container {
	margin-bottom: 2em;

}

.container-whole {
	max-width: 1250px;
	margin: 0 auto;
	margin-top: 90px;
}
.learn-more {
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 10px;
	p {
		margin-bottom: 0 !important;
	}
}

.container.nav-container {
	margin-bottom: 0;
}

.row {
	margin-top: 20px;
}

.blue-background {
  padding: 15px 0 !important;
  background-color: #365170;
  color: #fff;
  font-size: 1.25em;
	margin-top: 0;
	.container {
    line-height: 1.5;
    margin: 0 auto;
    height: 100%;
	}
	.h3 {
		font-size: 2em;
	}
	.h1, h2, .h3 {
    margin: 0;
    color: #fff;
	  font-size: 1.5em;
	  @media(min-width: 500px) {
	    font-size: 2.25em;
	  }
	}
}

.grey-background {
	background-color: $lightest-grey;
  margin-top:0;
}

img.lg-icon {
	max-width: 200px;
	margin-left: 10px;
}

.icon-row {
	margin-top: 0;
}

.icon-div {
	display: flex;
	align-items: center;
	padding: 0 15px;
	@media(min-width: 758px) {
		padding: 0;
	}
	h2 {
		margin-top: 0;
	}
	.lg-icon {
		display: none;
		width: 200px;
		margin-right: 60px;
		flex-shrink: 0;
		@media(min-width: 768px){
			display: flex;
		}
		&.right-icon {
			margin-right: 0;
			margin-left: 60px;
		}
	}
}

.contact input[type="text"], .contact select {
	height: 38px !important;
}

.privacy {
	ul li:before {
		content: "";
	}
}

.contact-link {
	color:  $orange;
	font-weight: 800;
	&:hover {
		color: darken($orange, 15);
	}
}

.orange {
	color: $bright-orange;
}

.orange-cta {
	color: $bright-orange;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 19px;
	margin-left: 15px;
	&:hover {
		color: darken($bright-orange, 15);
	}
}

.page-row {
	margin-top: 0;
	h2 {
		margin-top: 0;
	}
}

.text-col {
	padding-left: 15px;
	float: left;
	width: 95%;
	@media( max-width: 1200px ){
		width: 90%;
	}
	@media( max-width: 520px ){
		width: 80%;
	}
	&.half-width {
		width: 80%;
	}
	h3 {
		color: $bright-orange;
		margin-top: 10px;
		font-weight: 700;
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
		font-weight: 700;
		margin-top: 20px;
	}
}

.col-icon {
	width: 50px;
	float: left;
}

.gradient-background {
	padding-bottom: 50px;
	position: relative;
	.row {
		padding: 0 !important;
		margin-top: 0 !important;
		@media( max-width: 990px ) {
			margin-top: 20px !important;
		}
	}
}

.cta {
	color: #ef4136;
	text-transform: uppercase;
	font-weight: 700;
	&:hover {
		color: darken(#ef4136, 15);
	}
}

.col-separator {
	background-color: #fff;
	width: 6px;
	position: absolute;
	top: 0;
	height: 100%;
	left: 50%;
	transform: translatex(-50%);
	border-right: 2px solid #ccc;
	@media( max-width: 990px ) {
		display: none;
	}
}

.outlast-image {
	text-align: right;
	margin-top: 20%;
	transform: translateX(-20%);
}

.calculator-group .page-header {
	margin-left: 15px;
}


.loader {
	display: none;
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #e03f27, 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.5), -1.8em -1.8em 0 0em rgba(224,63,39, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.7), 1.8em -1.8em 0 0em #e03f27, 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.5), 1.8em -1.8em 0 0em rgba(224,63,39, 0.7), 2.5em 0em 0 0em #e03f27, 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.5), 2.5em 0em 0 0em rgba(224,63,39, 0.7), 1.75em 1.75em 0 0em #e03f27, 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.5), 1.75em 1.75em 0 0em rgba(224,63,39, 0.7), 0em 2.5em 0 0em #e03f27, -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.5), 0em 2.5em 0 0em rgba(224,63,39, 0.7), -1.8em 1.8em 0 0em #e03f27, -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.5), -1.8em 1.8em 0 0em rgba(224,63,39, 0.7), -2.6em 0em 0 0em #e03f27, -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.5), -2.6em 0em 0 0em rgba(224,63,39, 0.7), -1.8em -1.8em 0 0em #e03f27;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #e03f27, 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.5), -1.8em -1.8em 0 0em rgba(224,63,39, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.7), 1.8em -1.8em 0 0em #e03f27, 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.5), 1.8em -1.8em 0 0em rgba(224,63,39, 0.7), 2.5em 0em 0 0em #e03f27, 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.5), 2.5em 0em 0 0em rgba(224,63,39, 0.7), 1.75em 1.75em 0 0em #e03f27, 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.5), 1.75em 1.75em 0 0em rgba(224,63,39, 0.7), 0em 2.5em 0 0em #e03f27, -1.8em 1.8em 0 0em rgba(224,63,39, 0.2), -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.5), 0em 2.5em 0 0em rgba(224,63,39, 0.7), -1.8em 1.8em 0 0em #e03f27, -2.6em 0em 0 0em rgba(224,63,39, 0.2), -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.5), -1.8em 1.8em 0 0em rgba(224,63,39, 0.7), -2.6em 0em 0 0em #e03f27, -1.8em -1.8em 0 0em rgba(224,63,39, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224,63,39, 0.2), 1.8em -1.8em 0 0em rgba(224,63,39, 0.2), 2.5em 0em 0 0em rgba(224,63,39, 0.2), 1.75em 1.75em 0 0em rgba(224,63,39, 0.2), 0em 2.5em 0 0em rgba(224,63,39, 0.2), -1.8em 1.8em 0 0em rgba(224,63,39, 0.5), -2.6em 0em 0 0em rgba(224,63,39, 0.7), -1.8em -1.8em 0 0em #e03f27;
  }
}
