
.lang-selected, .lang-selector {
  cursor: pointer;
  font-family: Titillium Web
}

.lang-selector{
  &:hover {
    background-color: #ddd;
    transition: 0.3s;
  }
}

.lang-list {
  display: none;
}

.lang-option {
  padding: 2px 8px;
  border: 1px solid #888;
  border-radius: 4px;
  position: relative;
  span {
    vertical-align: middle;
  }
  .down-arrow {
    position: absolute;
    right: 4px;
    top: 9px;
    font-size: 0.7em;
  }
  img {
    margin-right: 4px;
    max-width: 20px;
  }
}

.lang-selector {
  border-top: none;
  background-color: rgba(255,255,255,1);
}

.lang-container {
  width: 70px;
  position: absolute;
  right: 30px;
  font-size: 0.85em;
  z-index: 100;
}