body {
  font-size: $base-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font-family !important;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  line-height: 1.5;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $body-font-weight;
  font-family: $header-font-family;
  text-transform: uppercase;
  color: $base-font-color;
}

h1, .h1 {
  font-size: 2.125em;
  @media(min-width: 500px) {
    font-size: 2.75em;
  }
}

h2, .h2 {
  font-size: 25px;
  font-weight: 600;
}

h4 {
  font-size: 1em;
}

a {
  transition: 0.3s;
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: lighten($link-color, 15);
  }
  &:active, &:focus {
    color: $link-color;
    text-decoration: none;
  }
}

.medium-text {
  font-size: 1.25em;
}

.large-text {
  font-size: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 1em; 
    text-indent: -.7em;
    &::before {
      content: "• ";
      color: $bright-orange;
      font-size: 1.25em;
      vertical-align: middle;
      line-height: 1;
      margin-left: -5px;
    }
  }
}

.right {
  text-align: right;
}

.lightweight {
  font-weight: 300;
}