<form class="form-horizontal" id="BHTform" name="BHTform" >
  <div class="form-group calculator-heading top-heading">
    <h2>{{ page.common.basic_heat_transfer }}</h2>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
      <div class="col-md-9">
        <label for="massSH">{{ page.common.mass }} <span>(kg)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="massSH" name="massSH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="col-md-9">
        <label for="specific-heatSH">{{ page.common.specific_heat }} <span>(kJ/kg&middot;K)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="specific-heatSH" name="specific-heatSH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
      <div class="col-md-9">
        <label for="temp1SH">{{ page.common.temp_single }} #1 <span>(K or &deg;C)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="temp1SH" name="temp1SH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="col-md-9">
        <label for="temp2SH">{{ page.common.temp_single }} #2 <span>(K or &deg;C)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="temp2SH" name="temp2SH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
      <div class="col-md-7">
        <label for="resultSH">{{ page.common.heat_transfer }} (J)</label>
      </div>
      <div class="col-md-5">
        <input class="form-control right" id="resultSH" name="resultSH" readonly type="text">
      </div>
    </div><!-- close form-group -->
  </div>
</form>