<form class="form-horizontal" id="CHTform" name="CHTform" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>{{ page.common.conduction_heat_transfer }}</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
      <div class="col-md-9">
        <label for="conductivityCH">{{ page.common.thermal_conductivity }} <span>(W/m&middot;K)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="conductivityCH" name="conductivityCH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="col-md-9">
        <label for="areaCH">{{ page.common.cross_sectional_area }} <span>(m&sup2;)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="areaCH" name="areaCH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
      <div class="col-md-9">
        <label for="temp1CH">{{ page.common.temp_single }} #1 - {{ page.common.hot_side }} <span>(&deg;C)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="temp1CH" name="temp1CH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="col-md-9">
        <label for="temp2CH">{{ page.common.temp_single }} #2 - {{ page.common.cold_side }}  <span>(&deg;C)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="temp2CH" name="temp2CH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
      <div class="col-md-9">
        <label for="timeCH">{{ page.common.time_taken }}  <span>({{ page.common.seconds }} )</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="timeCH" name="timeCH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="col-md-9">
        <label for="thicknessCH">{{ page.common.thickness_of_material }}  <span>(m)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="thicknessCH" name="thicknessCH" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
      <div class="col-md-7">
        <label for="result2CH">{{ page.common.heat_transfer }}  (J)</label>
      </div>
      <div class="col-md-5">
        <input class="form-control right" id="result2CH" name="result2CH" readonly type="text">
      </div>
    </div><!-- close form-group -->
  </div>
</form>