<form class="form-horizontal" id="frmHTCC" name="frmHTCC" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>{{ page.common.htc_subtitle }}</h2>
    </div>
  </div><!-- close form-group -->
  <div class="row sr-only">
    <div class="col-md-4 col-lg-3 col-sm-12 btn-toggle">
      <button type="button" id="btnMetric" class="col-md-6 btn switch-left ">Metric</button>
      <button type="button" id="btnStandard" class="col-md-6 btn switch-right">Standard</button>
    </div>
  </div>
      
  <div class="form-group form-group-temp">
    <h4>{{ page.common.temp_single }}</h4>
    <input class="form-control" id="temperature-htcc" name="temperature" type="text"> 
    <label class="control-label units-temp"></label>
  </div><!-- close form-group -->
  <div class="form-group form-group-diameter alt">
    <h4>{{ page.common.diameter }}</h4>
    <input class="form-control" id="pipe-diameter-htcc" name="pipe-diameter" type="text"> <label class="control-label units-diameter" >mm<br>
    ({{ page.common.inside_diameter }})</label>
    <label class="control-label" style="display:none"><input id="roughness-tubing" name="roughness-htcc" type="radio" value="0.00005">&nbsp;Tubing</label>
    <label class="control-label" style="display:none"><input id="roughness-pipe" checked name="roughness-htcc" type="radio" value="0.00015">&nbsp;Pipe</label>
  </div><!-- close form-group -->
  <div class="form-group form-group-velocity">
    <h4>{{ page.common.fluid_velocity }}</h4>
    <input class="form-control" id="fluid-velocity-min-htcc" name="fluid-velocity-min" type="text"> <label class="control-label units-fv-min" >Min.<br>
    (ft./s.)</label>
    <input class="form-control" id="fluid-velocity-max-htcc" name="fluid-velocity-max" type="text"> <label class="control-label units-fv-max" >Max.<br>
    (ft./s.)</label>
    <input class="form-control" id="fluid-velocity-inc-htcc" name="fluid-velocity-inc" type="text"> <label class="control-label units-fv-inc" >{{ page.common.increment }}<br>
      (ft./s.)</label>
  </div><!-- close form-group -->
  <div class="form-group form-group-fluid alt">
      <h4>{{ page.common.choose_fluid }}</h4>
      <select class="form-control" id="fluids-htcc" name="fluids">
        <option value="-1">
          {{ page.common.select_fluid }}
        </option>
        {% for product in page.products %}
          <option value="{{ product.id}} ">
            {{ product.name }}
          </option>
        {% endfor %}
      </select>
  </div><!-- close form-group -->
  <div class="form-group form-group-properties">
      <h4>{{ page.common.fluid_properties }}</h4>
      <input class="form-control" id="fluid-viscosity-htcc" name="fluid-viscosity" type="text"> 
      <label class="control-label units-viscosity" >{{ page.common.viscosity }}<br>cP</label>
      <input class="form-control" id="fluid-specific-heat-htcc" name="fluid-specific-heat" type="text"> <label class="control-label units-specific-heat" >Specific Heat<br>
          BTU/lb-F</label>
      <input class="form-control" id="fluid-conductivity-htcc" name="fluid-conductivity" type="text"> <label class="control-label units-conductivity" >Conductivity<br>
          BTU/hr. ft. F</label>
      <input class="form-control" id="fluid-density-htcc" name="fluid-density" type="text"> <label class="control-label units-density" >Density<br>
          lb/ft<sup>3</sup></label>
  </div><!-- close form-group -->
  <div class="form-group alt btn-row-group">
    <button class="btn special-btn btn-hollow" type="submit">{{ page.common.calculate }}</button> 
    <div>
      <a class="export btn-hollow btn">{{ page.common.download }} CSV</a>
      <a class="print btn-hollow btn" title="{{ page.common.print_title }}">{{ page.common.print }}</a>
    </div>
    <a class="btn btn-hollow-blue reset-htcc" href="#">{{ page.common.reset }}</a>
    <span id="prandtl"></span>
  </div>
</form>
<div id="output-htcc" class="form-horizontal col-lg-12"></div>