<form class="form-horizontal" id="NFCForm" name="NFCForm" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>{{ page.common.natural_or_free_convection }}</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
      <div class="col-md-9">
        <label for="surface-areaNC">{{ page.common.surface_area_of_heat_transfer }} <span>(m&sup2;)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="surface-areaNC" name="surface-areaNC" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="col-md-9">
        <label for="coefficientNC">{{ page.common.convective_heat_transfer_coefficient }} <span>(W/m&sup2;&middot;K) or (W/m&sup2;&middot;C&deg;)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="coefficientNC" name="coefficientNC" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
      <div class="col-md-9">
        <label for="bulk-tempNC">{{ page.common.bulk_fluid_temperature }} <span>(K or &deg;C)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="bulk-tempNC" name="bulk-tempNC" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="col-md-9">
        <label for="surface-tempNC">{{ page.common.surface_temperature }} <span>(K or &deg;C)</span></label>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="surface-tempNC" name="surface-tempNC" type="text">
      </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
      <div class="col-md-8">
        <label for="result3NC" class="no-margin">{{ page.common.heat_transfer_per_unit_time }} <span>(W)</span></label>
      </div>
      <div class="col-md-4">
        <input class="form-control right" id="result3NC" name="result3NC" readonly type="text">
      </div>
    </div><!-- close form-group -->
  </div>
</form>