
<div class="col-sm-3 hidden-xs"></div>
<form class="form-horizontal col-md-6" id="OVForm" name="OVForm" >
  <div class="form-group calculator-heading top-heading" style="margin-top:0;">
    <div>
      <h2>{{ page.common.operating_viscosity }}</h2>
    </div>
  </div><!-- close form-group -->
  <div class="form-group">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          <label>{{ page.common.temp_single }} #1 <span>(&deg;C)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="temp1OV" name="temp1OV" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group alt">      
    <div class="col-md-12 no-margin">
      <div class="col-md-9">
        <label>{{ page.common.viscosity }} 1 {{ page.common.at_temperature }} 1 <span>(cSt)</span></label>
      </div>
      <div class="col-md-3 col-xs-12">
        <input class="form-control" id="viscosity1OV" name="viscosity1OV" type="text">
      </div>
    </div>
  </div><!-- close form-group -->
  <div class="form-group">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          <label>{{ page.common.temp_single }} #2 <span>(&deg;C)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="temp2OV" name="temp2OV" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group alt">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          <label>{{ page.common.viscosity }} 2 {{ page.common.at_temperature }} 2 <span>(cSt)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="viscosity2OV" name="viscosity2OV" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          <label>{{ page.common.operational_temperature }} <span>(&deg;C)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="operational-tempOV" name="operational-tempOV" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group button-group">
    <div class="col-md-12">
      <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
    </div>
  </div><!-- close form-group -->
  <div class="form-group calculator-result">
      <div class="col-md-12 no-margin">
        <div class="col-md-7">
          <label>{{ page.common.viscosity_at_temperature }} <span>(cSt)</span></label>
        </div>
        <div class="col-md-5 col-xs-12">
          <input class="form-control" id="resultOV" name="resultOV" readonly type="text">
        </div>
      </div>
  </div><!-- close form-group -->
</form>