<div class="col-sm-3 hidden-xs"></div>
<form class="form-horizontal col-md-6" id="thermalForm" name="thermalForm" >
  <div class="form-group calculator-heading top-heading" style="margin-top:0;">
    <div>
      <h2>{{ page.common.thermal_expansion_via_densities }}</h2>
    </div>
  </div><!-- close form-group -->
  <div class="form-group">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          <label>{{ page.common.temp_single }} #1 <span>(K or &deg;C)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="temp1TE" name="temp1TE" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group alt">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          <label>{{ page.common.density_at_temperature }} #1 <span>(kg/m&sup3;)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="density1TE" name="density1TE" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          <label>{{ page.common.temp_single }} #2 <span>(K or &deg;C)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="temp2TE" name="temp2TE" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group alt">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          <label>{{ page.common.density_at_temperature }} #2 <span>(kg/m&sup3;)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="density2TE" name="density2TE" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group button-group">
    <div class="col-md-12">
      <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
    </div>
  </div>
  <div class="form-group calculator-result">
    <div class="col-md-12 no-margin">
      <div class="col-md-7">
        <label>{{ page.common.coefficient_of_thermal_expansion }} <span>(%/&deg;C)</span></label>
      </div>
      <div class="col-md-5 col-xs-12">
        <input class="form-control" id="coefficient1TE" name="coefficient1TE" readonly type="text">
      </div>
    </div>
  </div><!-- close form-group -->
  <div class="form-group calculator-heading" style="display:none;">
    <div class="col-md-12 label-border">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          % Change in Volume Over Temperature Change
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="pct-change" name="pct-change" readonly type="text">
        </div>
      </div>
    </div>
  </div><!-- close form-group -->
  <div class="form-group calculator-heading" style="display:none;">
    <div class="col-md-12 label-border">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          Change in Volume Based on Temperature Change
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="volume-change" name="volume-change" readonly type="text">
        </div>
      </div>
    </div>
  </div><!-- close form-group -->
  <div class="form-group calculator-heading" style="display:none;">
    <div class="col-md-12 label-border">
      <div class="col-md-12 no-margin">
        <div class="col-md-9">
          Volume of Fluid in System at Temperature #2
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="volume2" name="volume2" readonly type="text">
        </div>
      </div>
    </div>
  </div><!-- close form-group -->
</form><!-- close form -->