<form class="form-horizontal col-md-12" id="fluidFlowForm2" name="fluidFlowForm2" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>{{ page.common.find_volumetric_flow_rate }} (m&sup3;/s)</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
        <div class="col-md-12 no-margin">
          <div class="col-md-9">
            <label>{{ page.common.pipe_inside_diameter }} <span>(m)</span></label>
          </div>
          <div class="col-md-3 col-xs-12">
            <input class="form-control" id="pipe-diameter2VF" name="pipe-diameter2VF" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group">
        <div class="col-md-12 no-margin">
          <div class="col-md-9">
            <label>{{ page.common.average_flow_velocity }} <span>(m/s)</span></label>
          </div>
          <div class="col-md-3 col-xs-12">
            <input class="form-control" id="avg-flow-velocity2VF" name="avg-flow-velocity2VF" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
      </div>
    </div>
  </div><!-- close form-group -->
    <div class="form-group calculator-result">
        <div class="col-md-12 no-margin">
          <div class="col-md-8">
            <label>{{ page.common.volumetric_flow_rate }} <span>(m&sup3;/s)</span></label>
          </div>
          <div class="col-md-4 col-xs-12">
            <input class="form-control" id="flow-rate2VF" name="flow-rate2VF" readonly type="text">
          </div>
        </div>
    </div><!-- close form-group -->
</form>