<form class="form-horizontal col-md-12" id="VolumeForm1" name="VolumeForm1" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>{{ page.common.volume_of_a_cylinder }}</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.inside_diameter }} <span>(m)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="diameterVC" name="diameterVC" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.height_length }} <span>(m)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="lengthVC" name="lengthVC" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
      </div>
    </div>
  </div><!-- close form-group -->
    <div class="form-group calculator-result">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.volume }} <span>(m&sup3;)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="resultCylinder" name="resultCylinder" readonly type="text">
          </div>
        </div>
    </div><!-- close form-group -->
</form>

