
<form class="form-horizontal col-md-12" id="VolumeForm3" name="VolumeForm3" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>{{ page.common.volume_of_a_sphere }}</h2>
    </div>
  </div><!-- close form-group -->
    <div class="form-group">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.sphere_diameter }} <span>(m or ft)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="diameterVS" name="diameterVS" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.volume }} <span>(m&sup3;)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="resultSphere" name="resultSphere" readonly type="text">
          </div>
        </div>
    </div><!-- close form-group -->
</form>