
<form class="form-horizontal col-md-12" id="VolumeForm2" name="VolumeForm2" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>{{ page.common.volume_of_a_rectangular_prism }}</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.length_of_side }} #1 <span>(m)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="length1RP" name="length1RP" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.length_of_side }} #2 <span>(m)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="length2RP" name="length2RP" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.length_of_side }} #3 <span>(m)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="length3RP" name="length3RP" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">{{ page.common.calculate }}</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
        <div class="col-md-12 no-margin">
          <div class="col-md-7">
            <label>{{ page.common.volume }} <span>(m&sup3;)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="resultRectangularPrism" name="resultRectangularPrism" readonly type="text">
          </div>
        </div>
    </div><!-- close form-group -->
  </div>
</form>