@charset "UTF-8";
body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  color: #111b2d;
  line-height: 1.5;
  font-size: 15px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  color: #111b2d; }

h1, .h1 {
  font-size: 2.125em; }
  @media (min-width: 500px) {
    h1, .h1 {
      font-size: 2.75em; } }

h2, .h2 {
  font-size: 25px;
  font-weight: 600; }

h4 {
  font-size: 1em; }

a {
  transition: 0.3s;
  color: #365170; }
  a:hover {
    text-decoration: none;
    color: #4f76a4; }
  a:active, a:focus {
    color: #365170;
    text-decoration: none; }

.medium-text {
  font-size: 1.25em; }

.large-text {
  font-size: 1.5em; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li {
    padding-left: 1em;
    text-indent: -.7em; }
    ul li::before {
      content: "• ";
      color: #fbb040;
      font-size: 1.25em;
      vertical-align: middle;
      line-height: 1;
      margin-left: -5px; }

.right {
  text-align: right; }

.lightweight {
  font-weight: 300; }

img {
  max-width: 100%; }

body, html {
  overflow-x: hidden;
  position: relative; }

.scroll-link {
  cursor: pointer; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.center {
  text-align: center !important; }

.no-margin-p {
  margin: 0;
  padding: 0; }
  .home-tips .no-margin-p {
    text-align: center; }

.inline-element {
  display: inline-block; }

.center-margin {
  margin: 0 auto; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 20px solid #d2232f; }

.container {
  margin-bottom: 2em; }

.container-whole {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 90px; }

.learn-more {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px; }
  .learn-more p {
    margin-bottom: 0 !important; }

.container.nav-container {
  margin-bottom: 0; }

.row {
  margin-top: 20px; }

.blue-background {
  padding: 15px 0 !important;
  background-color: #365170;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0; }
  .blue-background .container {
    line-height: 1.5;
    margin: 0 auto;
    height: 100%; }
  .blue-background .h3 {
    font-size: 2em; }
  .blue-background .h1, .blue-background h2, .blue-background .h3 {
    margin: 0;
    color: #fff;
    font-size: 1.5em; }
    @media (min-width: 500px) {
      .blue-background .h1, .blue-background h2, .blue-background .h3 {
        font-size: 2.25em; } }

.grey-background {
  background-color: #f6f6f6;
  margin-top: 0; }

img.lg-icon {
  max-width: 200px;
  margin-left: 10px; }

.icon-row {
  margin-top: 0; }

.icon-div {
  display: flex;
  align-items: center;
  padding: 0 15px; }
  @media (min-width: 758px) {
    .icon-div {
      padding: 0; } }
  .icon-div h2 {
    margin-top: 0; }
  .icon-div .lg-icon {
    display: none;
    width: 200px;
    margin-right: 60px;
    flex-shrink: 0; }
    @media (min-width: 768px) {
      .icon-div .lg-icon {
        display: flex; } }
    .icon-div .lg-icon.right-icon {
      margin-right: 0;
      margin-left: 60px; }

.contact input[type="text"], .contact select {
  height: 38px !important; }

.privacy ul li:before {
  content: ""; }

.contact-link {
  color: #d2232f;
  font-weight: 800; }
  .contact-link:hover {
    color: #901820; }

.orange {
  color: #fbb040; }

.orange-cta {
  color: #fbb040;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 19px;
  margin-left: 15px; }
  .orange-cta:hover {
    color: #ea8e05; }

.page-row {
  margin-top: 0; }
  .page-row h2 {
    margin-top: 0; }

.text-col {
  padding-left: 15px;
  float: left;
  width: 95%; }
  @media (max-width: 1200px) {
    .text-col {
      width: 90%; } }
  @media (max-width: 520px) {
    .text-col {
      width: 80%; } }
  .text-col.half-width {
    width: 80%; }
  .text-col h3 {
    color: #fbb040;
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px; }
  .text-col h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px; }

.col-icon {
  width: 50px;
  float: left; }

.gradient-background {
  padding-bottom: 50px;
  position: relative; }
  .gradient-background .row {
    padding: 0 !important;
    margin-top: 0 !important; }
    @media (max-width: 990px) {
      .gradient-background .row {
        margin-top: 20px !important; } }

.cta {
  color: #ef4136;
  text-transform: uppercase;
  font-weight: 700; }
  .cta:hover {
    color: #c91b10; }

.col-separator {
  background-color: #fff;
  width: 6px;
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translatex(-50%);
  border-right: 2px solid #ccc; }
  @media (max-width: 990px) {
    .col-separator {
      display: none; } }

.outlast-image {
  text-align: right;
  margin-top: 20%;
  transform: translateX(-20%); }

.calculator-group .page-header {
  margin-left: 15px; }

.loader {
  display: none;
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #e03f27, 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.5), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.7), 1.8em -1.8em 0 0em #e03f27, 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.5), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.7), 2.5em 0em 0 0em #e03f27, 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.5), 2.5em 0em 0 0em rgba(224, 63, 39, 0.7), 1.75em 1.75em 0 0em #e03f27, 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.5), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.7), 0em 2.5em 0 0em #e03f27, -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.5), 0em 2.5em 0 0em rgba(224, 63, 39, 0.7), -1.8em 1.8em 0 0em #e03f27, -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.5), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.7), -2.6em 0em 0 0em #e03f27, -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.5), -2.6em 0em 0 0em rgba(224, 63, 39, 0.7), -1.8em -1.8em 0 0em #e03f27; } }

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #e03f27, 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.5), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.7), 1.8em -1.8em 0 0em #e03f27, 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.5), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.7), 2.5em 0em 0 0em #e03f27, 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.5), 2.5em 0em 0 0em rgba(224, 63, 39, 0.7), 1.75em 1.75em 0 0em #e03f27, 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.5), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.7), 0em 2.5em 0 0em #e03f27, -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.2), -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.5), 0em 2.5em 0 0em rgba(224, 63, 39, 0.7), -1.8em 1.8em 0 0em #e03f27, -2.6em 0em 0 0em rgba(224, 63, 39, 0.2), -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.5), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.7), -2.6em 0em 0 0em #e03f27, -1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(224, 63, 39, 0.2), 1.8em -1.8em 0 0em rgba(224, 63, 39, 0.2), 2.5em 0em 0 0em rgba(224, 63, 39, 0.2), 1.75em 1.75em 0 0em rgba(224, 63, 39, 0.2), 0em 2.5em 0 0em rgba(224, 63, 39, 0.2), -1.8em 1.8em 0 0em rgba(224, 63, 39, 0.5), -2.6em 0em 0 0em rgba(224, 63, 39, 0.7), -1.8em -1.8em 0 0em #e03f27; } }

.btn, .btn:focus, .btn:active {
  border-radius: 4px;
  padding: 8px 20px;
  border: solid 2px #ef4136;
  outline: none;
  transition: 0.3s;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ef4136;
  color: #fff; }
  .btn:hover, .btn:focus:hover, .btn:active:hover {
    background-color: #fcc572;
    color: #fff;
    outline: none; }

.btn-grey {
  color: #fff;
  background-color: #a6a6a6;
  border: solid 2px #8b8b8b; }
  .btn-grey:hover, .btn-grey:focus, .btn-grey:active {
    background-color: #848484; }

.btn-lg {
  padding: 12px 24px;
  font-size: 1.25em; }

.btn-sm {
  padding: 5px 10px;
  font-size: 0.75em; }

.btn-full-width {
  width: 100%; }

.btn-giant {
  font-size: 1.25em;
  padding: 20px 50px; }

.btn-hollow {
  border: 2px solid #ef4136;
  background-color: #fff;
  color: #ef4136;
  padding: 8px 20px; }
  .btn-hollow:hover, .btn-hollow:focus, .btn-hollow:active {
    background-color: #f5847d;
    outline: none; }
  .product-side .btn-hollow {
    padding: 6px 12px; }

.btn-hollow-blue {
  border: 2px solid #111b2d;
  background-color: #fff;
  color: #111b2d;
  padding: 8px 20px; }
  .btn-hollow-blue:hover, .btn-hollow-blue:focus, .btn-hollow-blue:active {
    background-color: #34538a;
    outline: none; }
  .product-side .btn-hollow-blue {
    padding: 6px 12px; }

.lang-selected, .lang-selector {
  cursor: pointer;
  font-family: Titillium Web; }

.lang-selector:hover {
  background-color: #ddd;
  transition: 0.3s; }

.lang-list {
  display: none; }

.lang-option {
  padding: 2px 8px;
  border: 1px solid #888;
  border-radius: 4px;
  position: relative; }
  .lang-option span {
    vertical-align: middle; }
  .lang-option .down-arrow {
    position: absolute;
    right: 4px;
    top: 9px;
    font-size: 0.7em; }
  .lang-option img {
    margin-right: 4px;
    max-width: 20px; }

.lang-selector {
  border-top: none;
  background-color: white; }

.lang-container {
  width: 70px;
  position: absolute;
  right: 30px;
  font-size: 0.85em;
  z-index: 100; }

.modal-dialog {
  width: 95%; }
  @media (min-width: 1200px) {
    .modal-dialog {
      width: 1100px; } }

.modal-header {
  background-color: #111b2d; }
  .modal-header .close {
    color: #fff;
    opacity: 1;
    transition: 0.3s; }

.modal-title {
  color: #111b2d;
  margin: 0; }

.modal-body {
  padding: 20px; }
  @media (min-width: 1200px) {
    .modal-body {
      padding: 30px 50px; } }
  .modal-body .row {
    margin-top: 0; }
  .modal-body .temps p {
    font-weight: 600;
    border-left: 1px solid #111b2d;
    margin: 10px;
    padding-left: 10px;
    display: inline-block;
    margin-left: 0; }
    .modal-body .temps p:first-child {
      border-left: none;
      padding-left: 0;
      margin-left: 0; }
    .modal-body .temps p.temp {
      font-size: 1em;
      text-transform: uppercase;
      line-height: 1.1; }
      .modal-body .temps p.temp span {
        font-size: .7em; }
  .modal-body .inner {
    font-size: 1em; }

.header {
  padding: 0;
  display: block;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 990px) {
    .header {
      display: flex; } }
  .header.row {
    margin: 0;
    padding-top: 0; }
  .header .container {
    margin-bottom: 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ccc; }
  .header .logo {
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    @media (min-width: 990px) {
      .header .logo {
        text-align: left; } }
    .header .logo img {
      max-width: 100%; }
      @media (min-width: 990px) {
        .header .logo img {
          max-width: 250px; } }
  .header div {
    display: block; }
    @media (min-width: 990px) {
      .header div {
        display: flex; } }

nav {
  text-align: center;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  padding: 10px 0 0 0;
  margin-top: 20px; }
  @media (min-width: 990px) {
    nav {
      text-align: right;
      margin-right: 20px;
      margin-top: 0; } }
  nav .active {
    font-weight: 800; }
  nav ul {
    list-style-type: none; }
    nav ul li {
      display: inline-block;
      margin: 0 10px; }
      nav ul li::before {
        content: "";
        color: #fbb040;
        font-size: 1.625em;
        vertical-align: middle;
        line-height: 1; }

.header-container {
  margin-bottom: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  right: 0;
  z-index: 200000;
  transition: 0.3s; }
  .header-container.full-color {
    background-color: #fff; }

.navigation {
  justify-content: flex-end;
  align-items: center; }

.homepage h1.thermal-header {
  color: #d2232f;
  font-size: 25px;
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: 5px; }

@media (min-width: 990px) {
  .thermal-fluid-row {
    background-image: url("/assets/dist/img/water.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 0 !important;
    margin-top: -100px;
    padding-top: 100px !important; } }

.thermal li {
  font-weight: 600; }

.toggle-row {
  margin-top: 0; }
  .toggle-row p {
    position: absolute;
    right: 65px;
    top: 10px; }

.footer {
  padding: 30px; }
  .footer a {
    transition: 0.3s; }
  .footer .container {
    padding: 0 !important; }
  .footer .footer-column {
    padding-left: 0 !important; }
  .footer h2 {
    color: #fbb040;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 5px; }
  .footer ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none; }
    .footer ul li {
      line-height: 1.75; }
      .footer ul li:before {
        content: ""; }
      .footer ul li a:hover {
        transition: 0.3s;
        border-bottom: 1px solid #fff;
        text-decoration: none; }

.back-to-top {
  display: none;
  color: #fff;
  padding: 10px 40px;
  position: fixed;
  bottom: 0;
  right: 125px;
  background-color: #d2232f;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.copyright {
  font-size: 9px;
  margin-top: 15px;
  color: #fff; }

#comparison .h1 {
  font-weight: 100; }
  #comparison .h1 span {
    display: block;
    font-size: 0.75em; }

@media (min-width: 768px) {
  #comparison img {
    margin-top: -90px; } }

#comparison .comparison-header {
  padding: 2em 0;
  background-image: url("../../../assets/dist/img/comparison-bg.jpg");
  background-size: cover; }

input {
  font-size: 0.9em; }

#contact .row {
  position: relative;
  height: 100%; }

#contact .form-group {
  height: 100%; }

#contact input[type="text"].form-control, #contact input[type="email"], #contact textarea, #contact select {
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #111b2d;
  width: 100%; }

#contact .form-control {
  height: auto; }

#contact select.form-control {
  height: 38px; }

#contact textarea {
  height: 100%; }

#contact hr {
  border-bottom: 2px solid #fff; }

.calculator-group {
  display: none; }
  .calculator-group form {
    margin-bottom: 30px; }
    @media (min-width: 990px) {
      .calculator-group form {
        margin-bottom: 0; } }

#heat-transfer-coefficient {
  display: none; }
  @media (min-width: 990px) {
    #heat-transfer-coefficient {
      display: block; } }

#heat-transfer {
  display: block; }
  @media (min-width: 990px) {
    #heat-transfer {
      display: none; } }

.calculators input[type="text"] {
  text-align: right; }

.calculators #calculator-nav {
  margin-bottom: 30px; }

.calculators label {
  font-weight: 400;
  margin-top: 5px;
  font-size: 0.9em; }
  .calculators label.no-margin {
    margin-top: 0; }

.calculators .form-group {
  background-color: #f6f6f6;
  margin: 0;
  padding: 10px 0; }
  .calculators .form-group.button-group .col-md-12 {
    padding: 0; }
    .calculators .form-group.button-group .col-md-12 .btn {
      padding: 12px 20px;
      font-size: 18px;
      border-radius: 6px; }
  .calculators .form-group.alt {
    background-color: #eeeeee; }
  .calculators .form-group label span {
    display: block; }

.calculators .calculator-heading {
  background-color: #111b2d;
  padding: 10px;
  text-transform: none; }
  .calculators .calculator-heading h2 {
    font-size: 1.125em;
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
    margin: 0; }

.calculators .calculator-result {
  background-color: #aecbdb;
  color: #fff;
  padding: 30px 0; }

.calculators .active {
  color: #fff;
  background-color: #d2232f;
  border-radius: 4px;
  padding: 4px 8px; }

#fluid-finder {
  background-color: #f8f8f8;
  border-radius: 4px; }
  #fluid-finder header {
    background-color: #111b2d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px; }
    #fluid-finder header h2 {
      margin: 0;
      color: #fff;
      letter-spacing: 1px;
      font-size: 1.25em; }
  #fluid-finder span.error {
    display: block;
    font-size: 0.85em;
    color: #8b0000;
    margin-bottom: 0.5em; }
  #fluid-finder .fluid-inner {
    padding: 0 15px 15px 15px; }
    #fluid-finder .fluid-inner input[type="checkbox"] {
      -webkit-appearance: radio;
      /* Chrome, Safari, Opera */
      -moz-appearance: radio;
      /* Firefox */
      -ms-appearance: radio;
      /* not currently supported */ }
    #fluid-finder .fluid-inner .needto-text {
      display: none; }
  #fluid-finder label {
    font-weight: 600;
    font-size: 1em; }
  #fluid-finder h3, #fluid-finder .h3 {
    font-weight: 600;
    font-size: 1.75rem;
    margin-top: 0; }
  #fluid-finder input[type="text"] {
    width: 70%;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px 10px;
    margin-top: 10px; }
  #fluid-finder .row {
    margin-bottom: 10px; }
  #fluid-finder hr {
    border-bottom: 4px solid #fff;
    margin-left: -15px;
    margin-right: -15px; }

#frmHTCC .form-group.form-group-properties input[type="text"] {
  max-width: 75px; }

#frmHTCC .form-group {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }
  #frmHTCC .form-group.btn-row-group {
    justify-content: flex-end;
    position: relative; }
    #frmHTCC .form-group.btn-row-group > * {
      flex-grow: 0;
      margin-right: 20px; }
  #frmHTCC .form-group .form-control {
    width: auto; }
  #frmHTCC .form-group input[type="text"] {
    max-width: 125px; }
  #frmHTCC .form-group input[type="radio"] {
    margin-left: 1.5em; }
  #frmHTCC .form-group > * {
    flex-grow: 0;
    margin-right: 10px; }
  @media (min-width: 990px) {
    #frmHTCC .form-group {
      flex-wrap: nowrap; } }
  #frmHTCC .form-group h4 {
    flex-basis: 150px;
    flex-shrink: 0;
    text-align: center; }
    @media (min-width: 990px) {
      #frmHTCC .form-group h4 {
        text-align: left; } }

#frmHTCC .control-label {
  font-size: 0.8em; }
  @media (min-width: 768px) {
    #frmHTCC .control-label {
      margin-top: 0;
      margin-bottom: 0px;
      text-align: left; } }

@media (min-width: 992px) {
  .form-group .error.help-inline {
    margin-top: 0.3em;
    padding: 0;
    padding-left: 0.3em; } }

.form-group .error.help-inline {
  display: block;
  font-size: 1rem;
  color: #D1222D;
  float: left;
  width: 100%; }

#output-htcc table#outputTable {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }
  #output-htcc table#outputTable th {
    text-align: center; }
  #output-htcc table#outputTable td {
    text-align: right; }
  #output-htcc table#outputTable tr:nth-child(even) {
    background-color: #f6f6f6; }
  #output-htcc table#outputTable tr:nth-child(odd) {
    background-color: #eeeeee; }
  #output-htcc table#outputTable tr:first-child {
    border-top: 5px solid #fff;
    background: #111b2d;
    color: #fff;
    padding: 15px 20px;
    font-weight: 500; }
  #output-htcc table#outputTable th, #output-htcc table#outputTable td {
    padding: 10px 20px; }

#prandtl {
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 657px; }
  @media (min-width: 1200px) {
    #prandtl {
      left: 800px; } }

.reset-products {
  font-size: 1.125em;
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 600;
  margin-top: 15px; }

::-webkit-input-placeholder {
  text-align: left; }

input:-moz-placeholder {
  text-align: right; }

.number-input {
  text-align: right !important; }

#contact h3, #contact .h4 {
  color: #d2232f;
  font-weight: bold;
  margin-bottom: 0; }
  #contact h3 span, #contact .h4 span {
    font-weight: 400; }

#contact h3 {
  color: #111b2d;
  font-size: 15px; }

#contact hr {
  margin-bottom: 10px; }

#contact .form-group {
  margin: 15px 0 0 0; }

#contact .row {
  margin-top: 0; }

#contact .container {
  height: 100%; }

#contact #about-comments {
  height: 145px; }

#contact #comments, #contact #application, #contact #comments2 {
  height: 92px; }

#contact #add-product {
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer; }

#contact .contact-form-container {
  padding: 0; }

.email-response {
  display: none;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px; }
  .email-response i {
    font-size: 3em;
    color: green;
    position: absolute;
    right: 35px;
    top: 15px; }
  .email-response h4 {
    color: green;
    font-weight: 600;
    display: inline-block;
    font-size: 1.5em; }
  .email-response.success {
    border: 3px solid green; }
    .email-response.success i {
      font-size: 3em;
      float: right;
      color: green; }
  .email-response.error {
    border: 3px solid red; }
    .email-response.error h4 {
      color: red; }
    .email-response.error i {
      font-size: 3em;
      float: right;
      color: red; }

.contact-number {
  display: inline-block;
  width: 85%;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #365170; }
  @media (min-width: 768px) {
    .contact-number {
      width: 70%; } }

.contact-column {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  float: left; }
  @media (min-width: 990px) {
    .contact-column {
      width: 50%; } }

.remove-me {
  color: red;
  position: absolute;
  top: 21px;
  font-size: 1.25em; }
  .remove-me:hover {
    color: #990000; }

.difference p {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px; }

.difference2 {
  font-size: 1.25em; }
  .difference2 p {
    margin: 0; }

.outlasts {
  position: relative;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .outlasts {
      padding: 0; } }
  .outlasts h2 {
    margin-top: 0; }
  .outlasts .outlast-image img {
    display: none;
    max-width: 100%;
    max-width: 90%;
    margin: 0 auto; }
    @media (min-width: 990px) {
      .outlasts .outlast-image img {
        display: inline-block;
        margin-top: -12.5%; } }

.homepage h1 {
  color: #111b2d;
  font-weight: 600;
  font-size: 2.125em;
  margin-top: 40px; }
  @media (min-width: 500px) {
    .homepage h1 {
      font-size: 3em; } }
  @media (max-width: 990px) {
    .homepage h1 {
      word-spacing: inherit; } }

.homepage .row {
  padding: 30px 0;
  margin-left: 0;
  margin-right: 0; }

.homepage .container {
  margin-bottom: 0; }

.homepage .logo-container {
  height: 100px;
  position: relative;
  overflow: hidden; }
  .homepage .logo-container img {
    max-width: none !important; }

.homepage li.client-logos::before {
  content: ""; }

.homepage li.client-logos img {
  max-width: 1110px; }

.homepage #scroller {
  position: relative; }

.homepage #scroller .innerScrollArea {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.homepage #scroller ul {
  padding: 0;
  margin: 0;
  position: relative; }

.homepage #scroller li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute; }

.homepage .testimonial-container {
  background-repeat: no-repeat;
  position: relative;
  background-size: contain; }

.homepage .testimonial-header, .homepage .testimonial-footer {
  background-repeat: no-repeat;
  padding-top: 25.25%;
  opacity: 0.8;
  width: 90%;
  margin: 0 auto;
  background-size: contain; }

.homepage .testimonial-footer {
  margin-top: 1em; }

.homepage .testimonial-body {
  border-top: 1px solid #ddd;
  margin-top: 1.5em;
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px; }
  .homepage .testimonial-body p:before {
    content: open-quote; }
  .homepage .testimonial-body p:after {
    content: close-quote; }
  .homepage .testimonial-body #testimonial-author {
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400; }

.homepage .home-tips {
  text-align: center;
  overflow: hidden; }
  .homepage .home-tips h3 {
    color: #8b8b8b;
    margin: 1em 0 0.75em 0;
    font-size: 2.125em;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative; }
    .homepage .home-tips h3.tools {
      margin-top: 0; }
    .homepage .home-tips h3 span {
      display: inline-block;
      position: relative; }
    .homepage .home-tips h3 span:before, .homepage .home-tips h3 span:after {
      border-top: 2px solid #8b8b8b;
      position: absolute;
      top: 50%;
      width: 1000px;
      content: ""; }
    .homepage .home-tips h3 span:before {
      right: 100%;
      margin-right: 15px; }
    .homepage .home-tips h3 span:after {
      left: 100%;
      margin-left: 15px; }
  .homepage .home-tips h4 {
    color: #111b2d;
    font-weight: 600;
    font-size: 1.25em; }
  .homepage .home-tips p {
    margin-bottom: 1.5em; }
  .homepage .home-tips .row {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px; }

.dura-diff {
  color: #d2232f;
  font-weight: 700; }

.light-white {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 55px; }
  .light-white h2 {
    margin-top: 0;
    font-size: 25px; }

.bullet {
  color: #fbb040;
  font-size: 1.25em;
  vertical-align: middle;
  line-height: 1;
  margin: 0 2px; }

.thermal ul li {
  font-size: 17px; }

.point-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 0.85em;
  text-align: center;
  position: relative;
  transition: 0.3s; }
  .point-card .arrow-down {
    margin-bottom: 10px; }
  .point-card p {
    margin: 0;
    font-weight: 700; }

.point-card-container a {
  color: #111b2d;
  display: block; }
  .point-card-container a:hover {
    color: #111b2d; }
    .point-card-container a:hover .point-card {
      background-color: #ddd; }

.product-card-container {
  margin-bottom: 50px; }

.card-container {
  padding-left: 0;
  padding-right: 0; }

.product-card {
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px; }
  .product-card header {
    background: linear-gradient(#ece8e8, #fff);
    border: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    margin: -2px;
    font-size: 0.9em;
    padding: 5px 0 5px 20px; }
    .product-card header p {
      color: #111b2d;
      border-left: 1px solid #fbb040;
      margin: 5px;
      padding-left: 10px; }
      @media (min-width: 768px) {
        .product-card header p {
          margin: 10px; } }
      .product-card header p.temp {
        font-size: 0.9em;
        text-transform: uppercase;
        line-height: 1.1; }
        @media (min-width: 768px) {
          .product-card header p.temp {
            font-size: 1.125em; } }
        .product-card header p.temp span {
          font-size: 0.7em; }
    .product-card header h3 {
      font-size: 1em;
      font-weight: 600;
      color: #111b2d;
      margin: 0; }
      @media (min-width: 768px) {
        .product-card header h3 {
          font-size: 1.5em; } }
      .product-card header h3 a, .product-card header h3 a:hover, .product-card header h3 a:focus, .product-card header h3 a:active {
        color: #111b2d; }
    .product-card header .close-product {
      color: #111b2d;
      text-align: center;
      padding-left: 1px;
      font-weight: 600;
      position: absolute;
      right: 15px;
      top: 3px;
      cursor: pointer;
      font-size: 1.5em;
      transition: 0.3s; }
      .product-card header .close-product:hover {
        color: #ddd; }
  .product-card .inner {
    padding: 20px;
    font-size: 1.125em;
    padding-bottom: 5px; }
  .product-card p {
    margin: 5px -10px;
    font-size: 0.85em; }
    .product-card p.product-description {
      border-radius: 4px;
      background-color: #fff;
      padding: 10px; }
  .product-card .btn .fa {
    margin-right: 0; }

.product-side {
  text-align: center;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .product-side {
      border-left: 1px solid #ddd;
      padding-left: 20px;
      margin-top: 0; } }
  .product-side .btn {
    margin-bottom: 5px;
    font-size: 14px; }
  .product-side input[type="checkbox"] {
    -webkit-appearance: radio;
    /* Chrome, Safari, Opera */
    -moz-appearance: radio;
    /* Firefox */
    -ms-appearance: radio;
    /* not currently supported */ }
  .product-side label {
    font-weight: 500;
    font-size: 15px; }

.additional-info {
  display: none; }

.products-viewing {
  display: none;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
  background-color: #ddd;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0; }
  .products-viewing p {
    width: 100%;
    margin: 0; }
  .products-viewing a {
    color: #d2232f; }
    .products-viewing a:hover {
      color: #901820; }

.sort-row {
  padding: 10px 20px 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .sort-row .sort-select-div {
    display: flex;
    align-items: center;
    flex-shrink: 0; }
  .sort-row select {
    padding: 5px 10px;
    color: #333;
    font-size: 0.8em;
    border-radius: 4px;
    outline: none; }
  .sort-row .sortby-label {
    color: #fbb040;
    font-weight: 700;
    margin: 0;
    margin-right: 10px;
    text-transform: uppercase; }
  .sort-row.sort-row-left {
    justify-content: flex-start;
    margin-left: 15px; }

.filtered-out {
  margin-top: 1.5em; }
  .filtered-out li:before {
    content: ""; }
  .filtered-out li a {
    color: #d2232f;
    font-weight: 500; }
    .filtered-out li a:hover {
      color: #901820; }
    .filtered-out li a i {
      margin-left: 15px; }

.compare-checkbox, .needto-checkbox, #food-grade {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .compare-checkbox:checked + .radio-label:after, .needto-checkbox:checked + .radio-label:after, #food-grade:checked + .radio-label:after {
    background: #d2232f; }
  .compare-checkbox:checked + .radio-label-front:before, .needto-checkbox:checked + .radio-label-front:before, #food-grade:checked + .radio-label-front:before {
    background: #d2232f; }

.radio-label {
  display: inline-block;
  padding: 0 0 0 0.5em;
  vertical-align: middle;
  cursor: pointer; }
  .radio-label:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    border-radius: 1em;
    background: #fff;
    border: 1px solid #8b8b8b;
    margin-left: 0.5em;
    transition: 0.5s ease all; }

.radio-label-front {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  cursor: pointer; }
  .radio-label-front:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    border-radius: 1em;
    background: #fff;
    border: 1px solid #8b8b8b;
    margin-right: 0.5em;
    transition: 0.5s ease all; }

.product-tables {
  border: 1px solid #ddd;
  border-radius: 6px; }

.resources h3 {
  font-size: 1.25em;
  color: #111b2d;
  font-weight: 600;
  margin-top: 0; }

.resources .h2 {
  font-weight: 600;
  color: #111b2d;
  margin-top: 0; }

.resources img {
  max-width: 80%; }

.resources .btn {
  display: block; }
  @media (min-width: 768px) {
    .resources .btn {
      display: inline-block; } }

@media (min-width: 768px) {
  .resources .block img {
    display: block; } }

.resources .difference p {
  font-weight: 300;
  width: 90%;
  font-size: 0.9em; }

.resources .calculator-select {
  margin: 20px 0;
  outline: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  width: 300px;
  height: 44px; }

.resources .res-tech-paper p {
  padding-bottom: 20px; }

@media (min-width: 768px) {
  .resources .res-tech-paper .btn {
    position: absolute;
    bottom: 5px;
    margin-left: -60px; } }

.calc1 {
  display: none; }
  @media (min-width: 990px) {
    .calc1 {
      display: block; } }

.calc2 {
  display: block; }
  @media (min-width: 990px) {
    .calc2 {
      display: none; } }

.compare-hide {
  border: 2px solid #d2232f;
  border-radius: 8px;
  margin: 10px 20px !important;
  padding-left: 70px;
  font-size: 1.063em;
  position: relative; }
  .compare-hide .container {
    margin: 0; }
  .compare-hide p {
    margin: 15px 5px 20px 0; }
  .compare-hide i {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 2em;
    color: #d2232f; }

.resources-left-col {
  border-left: 2px solid #ddd;
  padding-left: 40px; }
  @media (max-width: 768px) {
    .resources-left-col {
      border-left: none;
      padding-left: 15px;
      margin-top: 30px; } }

.resource-h1 {
  font-size: 21px; }

.resource-h2 {
  color: #fbb040;
  font-size: 25px;
  margin-bottom: 10px; }

.product-tables {
  margin-top: 15px; }
  .product-tables strong {
    font-weight: 500; }
  .product-tables span {
    font-weight: 400; }
  .product-tables table {
    width: 100%;
    overflow: hidden; }
    .product-tables table td, .product-tables table th {
      padding: 5px 15px;
      font-size: 13px; }
    .product-tables table th {
      background-color: #f6f6f6;
      color: #111b2d;
      text-transform: uppercase;
      font-weight: 400;
      padding: 10px 15px;
      font-size: 16px; }

.grey-row {
  background-color: #f6f6f6; }

.darkgrey-row {
  background-color: #d0d0d0;
  color: #fff;
  font-weight: 300; }

.sidebar img {
  width: 100%;
  border-radius: 4px; }

.sidebar .callout {
  margin-top: 42px;
  overflow: hidden; }
  .sidebar .callout header {
    color: #fbb040;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 17px; }
  .sidebar .callout ul {
    padding: 20px;
    list-style-type: none; }
    .sidebar .callout ul li:before {
      content: ""; }

.mainpage h1 {
  color: #111b2d;
  font-weight: 500;
  margin-top: 0; }

.mainpage ul li:before {
  color: #111b2d; }

.mainpage .downloads {
  color: #d2232f;
  padding: 0px 0;
  margin: 15px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .mainpage .downloads p {
    margin: 20px 0; }

.product-page blockquote {
  border-left: 1px solid #ccc;
  margin: 0 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

.product-page blockquote:before {
  content: open-quote;
  font-size: 38px;
  line-height: 0.1em;
  margin-right: 0.125em;
  vertical-align: -0.4em; }

.product-page blockquote:after {
  content: close-quote;
  font-size: 38px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

.product-page blockquote p {
  display: inline; }

.product-page #testimonial {
  padding: 20px;
  padding-top: 0;
  padding-bottom: 5px;
  font-size: 15px; }
  .product-page #testimonial p {
    margin-bottom: 0; }

.product-page #testimonial-author {
  padding: 20px;
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  margin-left: 10px; }

.data-sheet a {
  color: #ef4136; }
  .data-sheet a:hover {
    color: #b87004; }
  .data-sheet a i {
    font-size: 2.5em;
    margin-top: -5px;
    vertical-align: middle; }

.popover {
  background-color: #000;
  color: #fff; }

.popover-content {
  text-indent: 0; }

.popover.top > .arrow::after {
  border-top-color: black; }

.pump-popover {
  margin-left: 15px; }

ul.quickfacts {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.quickfacts li {
    padding-left: 1em;
    text-indent: -.7em; }
    ul.quickfacts li::before {
      content: "• ";
      color: #fbb040;
      font-size: 1.25em;
      vertical-align: middle;
      line-height: 1;
      margin-left: -5px; }

.compare-submit {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50px;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .compare-submit .compare-header {
    color: #fff;
    padding: 10px 40px;
    left: 125px;
    background-color: #d2232f;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: space-between; }
    .compare-submit .compare-header .compare-icons a {
      margin-left: 1em;
      color: #fff;
      font-size: 1.25em; }
  .compare-submit .compare-body {
    background-color: #fff;
    border-left: 1px solid #8b8b8b;
    border-right: 1px solid #8b8b8b;
    padding: 1.5em; }
    .compare-submit .compare-body ul {
      margin-bottom: 20px; }
    .compare-submit .compare-body li a {
      color: red; }
      .compare-submit .compare-body li a:hover {
        color: #990000; }
    .compare-submit .compare-body i {
      margin-left: 15px;
      display: inline; }
    .compare-submit .compare-body.row {
      margin: 0; }

.compare-main-container {
  padding: 0 5px; }

.compare-wrapper {
  height: 400px;
  position: relative;
  margin-top: 50px;
  z-index: 5000; }

.compare-back {
  position: absolute;
  width: 1120px;
  height: 60px;
  background-color: white;
  z-index: 5001; }

.compare-nav {
  position: absolute;
  z-index: 5002; }

#tc, #hc, #kv, #den, #vp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.data-row {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.compare-container {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  width: 1120px;
  flex-wrap: wrap;
  padding-top: 15px; }
  .compare-container .compare-column {
    flex-basis: 190px;
    flex-shrink: 0; }
  .compare-container .label-column, .compare-container .table-label {
    flex-basis: 270px;
    flex-shrink: 0; }
  .compare-container .label-header {
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    color: #111b2d;
    text-transform: uppercase; }
  .compare-container .compare-header-wrapper {
    position: relative;
    margin-bottom: 10px; }
  .compare-container .compare-header {
    padding: 1em 1.5em;
    background-color: #111b2d;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 0.85em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    margin-left: -16px; }
    .compare-container .compare-header i {
      margin-left: 0.5em; }
  .compare-container .fluids {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 107%;
    margin-left: -16px;
    max-height: 300px;
    overflow: auto; }
  .compare-container .product-list {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 0.85em; }
    .compare-container .product-list:hover {
      background-color: #f6f6f6; }
  .compare-container .category-header {
    display: block;
    background-color: #f6f6f6;
    color: #d2232f;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    width: 100%;
    padding: 10px; }
    .compare-container .category-header.grey {
      background-color: #ddd;
      color: #111b2d; }
  .compare-container .table-label {
    padding: 10px;
    font-weight: 300;
    border-right: 1px solid #fbb040; }
  .compare-container .table-data {
    padding: 10px 0;
    flex: 0 0 190px;
    font-weight: 500;
    padding-left: 5px;
    border-right: 1px solid #fbb040; }

.compare-nav-container {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  width: 1120px;
  flex-wrap: wrap; }
  .compare-nav-container .compare-column {
    flex-basis: 190px;
    flex-shrink: 0; }
  .compare-nav-container .label-column, .compare-nav-container .table-label {
    flex-basis: 270px;
    flex-shrink: 0; }
  .compare-nav-container .label-header {
    font-size: 15px;
    text-align: right;
    font-weight: 700;
    font-family: "Titillium Web", sans-serif;
    color: #111b2d;
    text-transform: uppercase;
    margin-top: 15px; }
  .compare-nav-container .compare-header-wrapper {
    position: relative;
    margin-bottom: 10px; }
  .compare-nav-container .compare-header {
    padding: 1em 1.5em;
    background-color: #111b2d;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 0.85em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    margin-left: -16px; }
    .compare-nav-container .compare-header i {
      margin-left: 0.5em; }
  .compare-nav-container .fluids {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 107%;
    margin-left: -16px;
    max-height: 300px;
    overflow: auto; }
  .compare-nav-container .product-list {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 0.85em; }
    .compare-nav-container .product-list:hover {
      background-color: #f6f6f6; }
  .compare-nav-container .category-header {
    display: block;
    background-color: #AECBDB;
    color: #fff;
    font-weight: 500;
    font-size: 1.125em;
    width: 100%;
    padding: 10px; }
    .compare-nav-container .category-header.grey {
      background-color: #ddd;
      color: #111b2d; }
  .compare-nav-container .table-label {
    padding: 10px;
    font-weight: 500;
    border-right: 1px solid #8b8b8b; }
  .compare-nav-container .table-data {
    padding: 10px 0;
    flex: 0 0 190px;
    font-weight: 500;
    padding-left: 5px;
    border-right: 1px solid #8b8b8b; }

.compare-floater {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  background-color: #111b2d;
  padding: 0;
  margin: 0 15px;
  overflow: auto;
  width: 1110px;
  flex-wrap: wrap;
  display: none; }
  .compare-floater .label-column, .compare-floater .table-label {
    flex-basis: 270px;
    flex-shrink: 0; }
  .compare-floater .compare-header {
    padding: 1em 0;
    color: #fff;
    text-align: left;
    font-weight: 500;
    font-size: 0.85em; }
  .compare-floater .compare-column {
    flex-basis: 190px;
    flex-shrink: 0; }

.compare-buttons {
  z-index: 100;
  text-align: right;
  padding-right: 0;
  margin-top: 15px; }

.print-compare-table .grey-row {
  background-color: #f6f6f6; }

.comparison-wrapper {
  overflow: auto;
  height: 400px; }
